* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

h1 {
    text-align: center;
    padding: 50px 10px;
    color: white;
    background-color: rgb(78, 146, 179);
}

.colors>input {
    padding: 20px;
    border: none;
    font-size: 18px;
    margin: 0;
    float: left;
    width: 25%;
    color: white;
}

.instructions {
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.container .float-box:nth-child(1) {
	background: rgb(255, 125,  78);
}

.container .float-box:nth-child(2) {
	background: rgb(168,  89,  60);
}

.container .float-box:nth-child(3) {
	background: rgb( 33, 165, 121);
}

.container .float-box:nth-child(4) {
	background: rgb( 47,  83, 160);
}

.container .float-box:nth-child(5) {
	background: rgb(197,  56,  56);
}

.container .float-box:nth-child(6) {
	background: rgb(112, 158,  94);
}

.container .float-box:nth-child(7) {
	background: rgb(182, 109, 197);
}

.container .float-box:nth-child(8) {
	background: rgb(167,  35,  79);
}

.container .float-box:nth-child(9) {
	background: rgb( 38, 189, 189);
}

.wrapper {
	max-width: 1280px;
	margin: 0px auto;
	padding: 20px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
	background: #808080;
}

.container-01 .float-box {
	width: 100%;
	padding-top: 120px;
	padding-bottom: 120px;
}

.container-02 .float-box {
	width: 50%;
	padding-top: 100px;
	padding-bottom: 100px;
}

.container-03 .float-box {
	width: 33.3333333%;
	padding-top: 80px;
	padding-bottom: 80px;
}

.container-04 .float-box {
	width: 25%;
	padding-top: 60px;
	padding-bottom: 60px;
}

.float-box {
	font-size: 64px;
	color: white;
	font-weight: 700;
	text-align: center;
}