
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h3{
  padding:10px;
}

.title {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
h1{
  margin-top: 100px;
  margin-bottom: 70px;
  color:  rgb(77, 55, 51);
  padding: 0;
}
h2{
  margin-top: 20px;
}
h6{
  font-size: 30px !important;
  text-align: center;
}
header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #000000;
  color: #fff;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
main > div {
    margin: auto;
    max-width: 1280px;
  }
  .topnav {
    background-color: white;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: rgb(245, 235, 235);
    color: black;
  }
  
  .topnav a.active {
    background-color: #aa928f;
    color: white;
  }
img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}
.leftcolumn {   
    float: left;
    width: 75%;
    display: grid;
    padding-right: 80px;  
}
a:link {
  color: rgb(0, 0, 0);
}
a:visited {
  color: rgb(0, 0, 0);
}
a:hover {
  color: rgb(184, 134, 125);
}
a:active {
  color: rgb(43, 40, 39);
}
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 50px;
}
.blogimg {
  width: 50%;
  float: left;
  padding: 20px;
    
}
.text{
  float: right;
  width: 50%;
  margin-top: 15%;
  margin-bottom: 25%;
  text-align:  justify;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     
}
.about{
  margin-top: 20px;;
}
.card-2{
  border: rgb(230, 225, 222) 2px solid;
  padding:20px;
  margin-top: 0;
}
.image-2{
width: 100%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  text-align: center;
  background: rgb(184, 134, 125);
  margin-top: 100px;
}
.favicons{
    padding:20px;
    font-size: 30px;
    color: black;
  }
.fa{
    color:black;
  }
.fa:hover{
    opacity:0.6;
  }
a:visited,
a:active,
a:hover,
a{
  color:black;
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  #lefside, #rightside {   
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

@media print{
  body{
      background: initial;
  }
  h1{
    font-size: 20px;
    margin:10px;
    padding:0;
  }
  .title{
    margin:0;
    padding:0;
  }
  .layout {
      min-height: 0;
  }
  header {
      display:none;
  }
  .nav-container{
    display:none;
  }
  footer { 
    display: none; 
  }
  .rightcolumn{
    float:none;
    width:100%;
  } 
  .leftcolumn{
    float:none;
    width:100%;
  }
  .image-2{
    display:none;
    margin:0;
    padding:0;
  }
  .card-2{
    border:none;
    margin:0;
    padding:0;
  }
  .card{
    box-shadow: none;
    margin:0;
    padding:0;
  }
  .blogimg{
    display:none;
    margin:0;
    padding:0;
  }
  .text{
    float:none;
    width:100%;
    margin:0;
    padding:0;
  }
}
