body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 300;
	overflow-x: hidden;
}

* {box-sizing: border-box;}
.product-item {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid #F5F5F5;
  background: white;
  font-family: "Open Sans";
  transition: .3s ease-in;
}
.product-item:hover {border-bottom: 2px solid #F17902;}
.product-item img {
  display: block;
  width: 100%;
}
.product-list {
  background: #fafafa;
  padding: 15px 0;
}
.product-list h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}
.price {
  font-size: 16px;
  color: #F17902;
  display: block;
  margin-bottom: 12px;
}

.product-item:hover .button {background: #F17902;}

.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}

@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}

.product {
	display: block;
	border: 1px solid #b5e9a7;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
	height: 300px;
}


.products {
	list-style: none;
	margin: 0 -20px 0 0;
	padding: 0;
}

.product-photo {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}

.product-photo img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}

.left-column {
  width: 45%;
  margin-top: 30px;
  position: relative;
}
  
.right-column {
	width: 55%;
	margin-top: 0px;
	margin-left: 300px;
}

.left-column img {
	width: 50%;
	position: absolute;
	left: 0;
	top: 10px;
	opacity: 1;
	transition: all 0.3s ease;
}


.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 16px;
  color: #F17902;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h5 {
  font-weight: 300;
  font-size: 22px;
  color: #86939E;
  letter-spacing: -2px;
}
.product-description h4 {
  font-weight: 300;
  font-size: 22px;
  color: #000000;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

@media only screen and (min-width: 1000px) {
	.left-column {
		width: 35%;
	}
}