:root {
    --primary: #EED8B3;
    --dark-primary: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(81, 40, 136, 1) 100%);
    --dark-primary-non-gradient: rgb(63, 94, 251);

    --text: white;

}

body {
    overflow: hidden;
    background: var(--dark-primary);
}

h1 {
    color: var(--dark-primary-non-gradient);
    text-align: center;
}

input {
    text-align: center;
    height: 50px;
    border: none;
    width: 50%;
    margin-bottom: 10px;
}

.wrapper {
    width: 1200px;
    height: 1000px;
    margin: 100px auto 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    background: var(--primary);
}



.action-button {
    background-image: linear-gradient(to left, rgba(81, 40, 136, 1), rgba(63, 94, 251, 1), rgba(81, 40, 136, 1));
    background-size: 200%;
    height: 50px;
    width: 50%;
    margin-bottom: 10px;
    border: none;
    color: var(--text);
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
    text-transform: uppercase;
}

.action-button:hover {
    background-position: right;
}

.highlight {
    color: var(--dark-primary-non-gradient);
}

li {
    list-style: none;
    width: 100%;
}