@media print {
    nav, footer {
        display: none;
        visibility: hidden;
    }
    img {
        display: none;
    }
    * {
        display: block;
    }
    .place-holder {
        display: none;
    }
    .row {
        display: block;
        text-align: left;
    }
    .column {
        display: block;
    }
    .mobile-app-img {
        display: block;
        width: 100%;
    }
    .trades {
        display: block;
        width: 100%;
    }
    a {
        display: none;
        visibility: hidden;
    }
}

* {
    font-family: Arial, "Helvetica Neue", Helvetica, Roboto, sans-serif;
}

body {
    display: flex;
    flex-flow: column;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-bottom: 5px solid #2d9ba2;
}

.logo>img {
    width: 100px;
    height: 100%;
}

.selected {
	border: 2px solid #2d9bfb;
    padding: 10px;
    background-color: #c5f8eb;
}

ul.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    max-width: 1024px;
}

ul.menu li {
    flex: 1 1 auto;
}

ul.menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

ul.menu li a:hover {
    color: #2d9b6b;

}

main {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    /*
    width: 100%;
    height: 70%;
    background-color: red;
    */
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10px;
    margin-bottom: auto;
    background-color: #c5f8eb;
}

.column {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #c5f8eb;
}

.place-holder {
    width: 200px;
    background-color: transparent;
}

.mobile-app {
    width: 200px;
    background-color: transparent;
}

.headline {
    margin: 0px;
    padding: 0px;
}

div.mobile-app-img {
    background-image: url(../assets/mobile-banking2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
}

div.trades {
    width: 200px;
    text-align: left;
    background-color: transparent;
}

.trades>span {
    margin-top: 10px;
    margin-bottom: 10px;
}

.stretch {
    align-self: stretch;
}

a.btn:link, a.btn:visited {
    color: black;
    border: 2px solid #2d9bfb;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.btn:hover, a.btn:active {
    background-color: #2d9b6b;
    color: white;
}

footer {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    text-align: center;
    border-top-width: 5px;
    border-top-style: solid;
    /*
    border-color: #249B7B;
    */
    border-color: #2d9ba2;
    padding-top: 10px;
}

div.footer-social>a {
    flex: 1 1 auto;
    font-size: 15px;
    padding: 10px;
}

.footer-contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footer-contact>a {
    color: blue;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-contact>a:visited {
    /*color: red;*/
}

.footer-contact>a:hover {
    color: lightblue;
    text-decoration: underline;
}