@import '../../styles/media';
@import '../../styles/colors';

.aboutWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;

  text-align: center;
  
  @include media_md {
    margin: 0 30%;
  }

  p, h1, h2 {
    color: $big_stone;
  }
}