* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: rgb(192, 50, 50);
  color: white;
  text-align: center;
  padding: 50px 10px;
}

.clear {
  clear: both;
}

.instructions {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
}

.colors>input {
  color: white;
  width: 50%;
  padding: 5px;
  border: none;
  font-size: 18px;
  margin: 0;
  float: left;
}

@media screen and (min-width: 720px) {
  .colors>input {
      padding: 20px;
      width: calc(100% / 3);
  }
}

@media screen and (min-width: 1024px) {
  .colors>input {
      width: 20%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.wrapper * {
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper header {
  background-color: rgb(223, 114, 75);
  padding: 50px;
}

.wrapper nav {
  background-color: rgb( 47, 108, 136);
  padding: 10px;
}

.wrapper main {
  background-color: rgb(192, 70, 94);
  width: 100%;
  padding: 200px;
}

.wrapper aside {
  background-color: rgb( 53, 184, 155);
  width: 100%;
  padding: 200px;
}

.wrapper footer {
  background-color: rgb( 39, 39, 39);
  padding: 10px;
}

.wrapper div {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .wrapper div {
      flex-direction: row;
  }
  .wrapper main {
      width: 75%;
  }
  .wrapper aside {
      width: 25%;
  }
}