* {
    box-sizing: border-box;
}
#movies img, #movie img {
    width:60%;
}
body {
    background-color: rgb(255, 255, 255) ;
    display: flex;
    flex-direction: column;
}
.big-box {
    display: flex;
}
.btn {
    color: #fff;
    background-color: #61c4e2;
    border-color: #289dc0;
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin:10px ;
}
h3 {
    margin:10px ;
    color: rgb(15, 15, 15);
    font-size: 350%;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    margin:15px ; 
    font-size: 150%;
}
.jumbotron {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg");
    border: 2px solid rgb(15, 15, 15);
    opacity: 0.8;
    width: 100%;
}
.backgr {
    background-image: url("https://lh3.googleusercontent.com/proxy/9UVZLnLFj1Mb-nW5WItYN_hkj0QYSX4LP10rudlW2L7uKzB8bp95YcO-uyJ9D1WCSFArePSOBi1xtICwDucrbYHtOwK4hJkG7-U9pjSer8me2FFIkolNdqq-tTT03LnXsW6fntykWSNmOOgO9cQ");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
footer {
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   margin:15px ;
   clear: both;
   margin-bottom: 0;
   flex-shrink: 0;
}
.list-group {
    border: 2px solid rgb(27, 165, 230);
}
aside {
    float: left;
    width: 20%;
    display: flex;
    border: 2px solid rgb(15, 15, 15);
  }

.box-container {
    width: 100%;
    float: none;
    display: flex;
    flex-wrap: wrap;
}
  
@media (min-width:960px) {
#movies .col-md-3 .well {
    height: 390px;
}
#movies .col-md-3 img{
    height: 240px;
}
}

 