$white: #fff;
$black: #000;
$slate_gray: #748498;
$fiord: #47566e;
$big_stone: #182b4a;
$biscay: #1a3f70;
$black_squeeze: #eaeff7;
$azure_radiance: #1875f0;
$heather: #c2ccd8;
$catskill_white: #f8fafc;
$blue_zodiac: #13294e;
$athens_gray: #fbfbfc;
$link_water: #f5f8fd;
$apple: #53b336;
$black_haze: #f1f2f2;
$silver_chalice: #adadad;
$mariner: #2577d7;
$regent_gray: #8690a0;
$clementine: #e66200;
$lemon_dream: #eda400;
$mountain_meadow: #1caf5e;
$orange_red: #ff4500;
$guardsman_red: #ba0101;
$dimmed_gray: #dadde6;
$light_gray: #f4f8fb;
$monza: #bf003b;
$limeade: #3bbf00;
$shiraz: #b80635;
$dummy_gray: #555;
$vivid_blue: #1566da;
$dark_navy: #171f46;
$white_smoke: #f4f4f4;
$primary: #47566e;
$success: #53b336;
$error: #ba0101;
$aluminum_foil: #d2d9db;
$buddha_gold: #b6ac01;