.reference {
  position: relative;
}

.reference-image {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  z-index: -999;
  opacity: 0.2;
}

.reference-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reference-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reference-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 16px;
}

.reference-info p {
  margin-top: 8px;
}

.reference-link {
  opacity: 0;
  transform: translateY(-8px);
  transition: all;
  transition-duration: var(--animation-duration);
}
.reference:hover .reference-link {
  opacity: 1;
  transform: translateY(0px);
}
