* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

h2 {
    border-bottom: 2px solid gray;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    /*
    max-width: 700px;
    align-items: center;
    */
}

.wrapper {
    display: flex;
    justify-content: center;
    /*
    flex-direction: column;
    align-items: center;
    */
}

#mapid {
    height: 384px;
    width: 768px;
    border-radius: 10px;
    align-self: center;
    /*
    max-width: 768px;
    min-width: 512px;
    */
}

#map {
    /* 
    width: 768px;
    justify-content: center; 
    align-items: center;
    */
    display: flex;
    flex-flow: column;
}

#info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*
    width: 768px;
    width: 100%;
    */
}

.item {
    flex: 1;
    border: 10px solid transparent;
    min-width: 334px;
}

div.passtime {
    background-color: yellowgreen;
    margin: 15px;
}