* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

#mapid {
    height: 512px;
    width: 768px;
    /*
    max-width: 768px;
    min-width: 512px;
    */
}

.item {
    flex: 1;
}

section#map {
        width: 100%;
        /* justify-content: center; */
        display: flex;
        flex-flow: column;
        align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*
    width: 100%;
    */
}

div.passtime {
    background-color: yellowgreen;
    margin: 15px;
}