* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-image: url("https://wallpaperset.com/w/full/c/f/4/232002.jpg");
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.reset {
    margin: 0 auto;
}


.card {
    background-image: url("https://i.pinimg.com/originals/66/8b/5c/668b5cc0acf83dd805b37da744fbbc93.png");
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border: 6px solid rgb(76,76,76);
    width: 20%;
    height: 150px;
    justify-content: center;
    padding-top: 5%;
    font-size: 0;
}

.turned {
    font-size: 20px;
    color: white;
    background-image: none;
    background-color: black;
}

.playground {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}