* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    background-image: url(pozadi_pole.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background-color: rgba(109, 6, 6, 0.75);
    padding: 20px;
    border-radius: 5px;
}

nav a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    transition: background-color 0.6s ease;
}

nav a.active, nav a:hover, .active {
    background-color: white;
    color: rgb(109, 6, 6);
}

header {
    border-top: 10px solid rgb(185, 18, 18, 0.75);
    color: black;
    background-image: url(pozadi_pole.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin: 5px auto;
    border-radius: 5px;
}

header>h1 {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 45px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

header>h2 {
    background-color: rgba(255, 255, 255, 0.5);
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.mainIndex {
    background-color: rgba(109, 6, 6, 0.75);
    border-radius: 5px;
    width: 69%;
    float: left;
    margin-bottom: 5px;
}

.paragraphIndex {
    width: 100%;
    margin-top: 10px;
    padding: 10px 3px;
}

.lastCall {
    text-decoration: none;
    color: white;
}

.lastAction {
    text-align: justify;
    padding: 10px 3px;
}

.asideIndex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    width: 30%;
    float: right;
    text-align: center;
    margin-bottom: 5px;
    background-color: rgba(109, 6, 6, 0.65);
    border-radius: 5px;
    color: white;
}

aside p {
    width: 75%;
}

.nadpisBok {
    width: 50%;
    padding: 22px 0;
    margin: 0 auto;
    justify-content: center;
}

footer {
    display: flex;
    width: 100%;
    background-color: rgba(109, 6, 6, 0.75);
    border-radius: 5px;
    justify-content: center;
}

.phone {
    width: 25%;
    height: 50px;
    width: 80px;
    flex-direction: row;
}

.cislo {
    display: flex;
    width: 10%;
}

.sluchatko {
    display: flex;
    width: 15px;
    height: 15px;
    margin: auto 0;
    border-right: 5px transparent solid;
}

.mainTechnika {
    background-color: rgba(109, 6, 6, 0.75);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.mainTechnika p {
    display: flex;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.uvodTechnika {
    justify-content: center;
}

.poduvodTechnika {
    justify-content: center;
}

.mainTechnika img {
    width: 90%;
    height: auto;
    border-top: 5px solid transparent;
}

.mainTechnika div {
    width: 20%;
    height: 320px;
    border-radius: 5px;
}

.mainTechnika div:hover {
    background-color: rgba(0, 0, 0, 0.20);
}

.mainTechnika h2 {
    position: relative;
    bottom: 0;
}

.rokDvacet {
    text-align: center;
    background-image: url(vyjezdy_pozadi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    height: 320px;
    margin: auto 0;
}

.rokDvacet p, .rokDevet p, .rokOsm p {
    line-height: 320px;
    margin: 5px 0;
    color: white;
    font-size: 45px;
}

.year2020 {
    text-decoration: none;
}

.rokDevet, .rokOsm {
    background-color: rgba(185, 18, 18, 0.25);
    text-align: center;
    border-radius: 5px;
    height: 320px;
    margin-bottom: 5px;
}

.rokDevet p:hover, .rokOsm p:hover, .rokDvacet p:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.60);
    cursor: pointer;
}

.callPlace {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    float: right;
    background-color: rgba(109, 6, 6, 0.75);
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 5px;
    padding-top: 0;
}

.callPlace h2 {
    width: 100%;
}

.called {
    width: 60%;
}

.numTel {
    width: 40%;
}

.adress, .contactPersone {
    margin-top: 5px;
    background-color: rgba(109, 6, 6, 0.75);
    border-radius: 5px;
    width: 59%;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.adress h2, .contactPersone h2 {
    margin: 0;
}

.email {
    text-decoration: none;
    color: white;
}

.email:hover {
    font-weight: bold;
}

.asideVyjezdy, .mainVyjezdy {
    width: 30%;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

.mainVyjezdy {
    background-color: rgba(109, 6, 6, 0.75);
    border-radius: 5px;
    width: 69%;
    margin-top: 5px;
    margin-right: 5px;
}

.asideVyjezdy {
    float: right;
    margin-right: 5px;
}

.callNumbers {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(109, 6, 6, 0.75);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

.callType {
    width: 70%;
}

.numberOfCalls {
    width: 19%;
    float: right;
    text-align: center;
}

.imageVyjezdy {
    background-color: rgba(109, 6, 6, 0.75);
    border-radius: 5px;
}

.imageVyjezdy img {
    display: flex;
    margin: 5px auto;
    width: 100%;
    height: auto;
    padding: 10px;
}

@media (max-width: 1024px) {
    .mainIndex {
        width: 100%;
    }
    .asideIndex {
        width: 100%;
    }
    nav {
        flex-direction: column;
        padding: 0;
    }
    nav a {
        width: 100%;
        margin-left: 0;
    }
    .callPlace {
        width: 100%;
    }
    .callPlace h2 {
        width: 100%;
    }
    .adress {
        width: 100%;
    }
    .contactPersone {
        width: 100%;
    }
    .mainTechnika div {
        width: calc(100%/3);
    }
    .mainTechnika {
        margin-bottom: 5px;
    }
    .mainKontakt {
        width: 100%;
        float: left;
    }
    .mainVyjezdy {
        width: 100%;
    }
    .asideVyjezdy {
        width: 100%;
    }
    .asideVyjezdy img {
        float: right;
    }
}

@media print {
    nav {
        display: none;
    }
    header {
        border-top: none;
    }
    body, .asideIndex, .mainVyjezdy, .rokDvacet p, .rokDevet p, .rokOsm p {
        color: black;
    }
    .callInfo {
        text-align: justify;
    }
    .imageVyjezdy {
        display: none;
    }
}