*,
*:before,
*:after {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    font-family: 'Merriweather', serif;

    font-size: 15px;
    line-height: 1.4;
    color: #333;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;

    background: url("../img/whale.jpg") center no-repeat;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    text-align: center;
}

.intro__title {
    color: #fff;
    font-size: 80px;
    text-transform: uppercase;
    margin-top: 80px;
    font-family: bignoodletitling;
    letter-spacing: 7px;
} 
/* Intro */


/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s 
    linear, color .1s linear;

}

.btn:hover {
    background-color: #fff;
    color: #333;
}
/* Button */


/* What we do section */

.us__header {
    width: 100%;
    max-width: 750px;
    margin: 0 auto 30px;

    text-align: center;
} 

.us__suptitle {
font-family: bignoodletitling;
letter-spacing: 5px;
margin-top: 50px;
font-size: 40px;
color: #333;
}

.us__title {
    margin-top: 30px;
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
    font-family: bignoodletitling;
    letter-spacing: 6px;
}

.us__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #242424;
}

.us__text {
    font-size: 22px;
    color: #999;
}
/* What we do section */


/* Statistics */
.statistics {
    background-color: #242424;
}

.stat {
    display: flex;
}

.stat__item {
    flex: 1 1 0; /*all columns of the same width */
    padding: 70px 35px;
    text-align: center;
    color: #fff;

}

.stat__count {
    font-family: bignoodletitling;
    letter-spacing: 4px;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;

}

.stat__text {
    font-family: bignoodletitling;
    letter-spacing: 4px;
    font-size: 18px;
    text-transform: uppercase;
}
/* Statistics */


/* Partners */
.companies__img {
    text-align: center;
}

.intro2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../img/give.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: contain;
}
/* Partners */


/* About */
.about {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between; /*сдвинуть блоки друг от друга*/
}

.about__item {
    width: 380px;
    position: relative;
    background-color: #065042;
}

.about__item:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img {
    opacity: .2;
}

.about__item:hover .about__text {
    opacity: 1;
}

.about__img {
    background: linear-gradient(to bottom, #0697b1, #3dff87);
    transition: transform .2s linear;   
}

.about__img img {
    display: block;
    transition: opacity .1s linear;
}

.about__text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}
/* About */



@font-face {
    font-family: "bignoodletitling"; 
    src: url("../big_noodle_titling.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

    @media (max-width: 770px) {
    /* Intro */
    .intro {
        min-height: 650px;
    }
    /* Header */
    .header {
        padding: 10px 0;
    }
    /* Menu */
    .menu {
        display: none;
        width: 100%;

        position: absolute;
        top: 100%;
        left: 0;

    }
    .menu_link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }
    /* Stat */
    .stat__item {
        width: 100%;
    }

    .stat__text {
        font-size: 20px;
    }
    .stat__count {
        font-size: 35px;
    }
    
    }