*,
*:before,
*:after {
    box-sizing: border-box;
}


html,body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.4;
    color: #333;
}

/* Page */
.page {
    overflow: hidden;
}
/* Page */


/* Container */
.container {
    max-width: 1230px;
    margin: 0 auto;
}
/* Container */


/* Header */
.header {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 10px;

    background-color: #242424;

    position: fixed;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title {
    font-family:  bignoodletitling;
    font-size: 30px;
    letter-spacing: 5px;
}
.header__link {
    color:  #ccc7af;
    text-decoration: none;
    transition: color .2s linear;

}
.header__link:hover {
    color: #fce38a;
}
/* Header */


/* Menu  -  Links in the header */
.menu {
    font-family:  bignoodletitling;
    letter-spacing: 5px;
    font-size: 20px;
    text-transform: uppercase;
}

.menu__link {
    display: inline-block;

    margin: 0 15px;
    position: relative;

    color:  #ccc7af;
    text-decoration: none;

    transition: color .2s linear;
}

.menu__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;
    position: absolute;
    
    transition: opacity .1s linear;
}
.menu__link:hover {
    color: #fce38a;
}

.menu__link:hover:after,
.menu__link.active:after {
    opacity: 1;
}

.menu__link.active {
    color: #fce38a;
}
.menu .current {
    color: #fce38a;
}

/* Menu  -  Links in the header */

/* Intro */
.intro {
    max-height: 100vh; /* макс высота ровна зоне экрана просмотра*/
    overflow: hidden;
    position: relative;
}
.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0 ,0, .7);
    position: absolute;
    z-index:2;
}
.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 3;
}
.intro__title {
    margin: 0;

    font-size: 45px;
    color: #fff;
    text-align: center;
}
.header__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.video{
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}
.video__media {

    width: 100%;
    height: auto;
    position: absolute;
    top:0;
    left: 0;
}
.form-area {
    margin:30px auto;
    max-width: 450px;
    padding: 10px 50px 10px 30px ;
    background: #fafafa;
}
.form-area h1{
    text-align: center;
    font-family: bignoodletitling;
    font-size: 2rem;
    color: #242424;
}
.form-area .single-form{
    position: relative;
    margin-bottom: 30px;
    font-family: Merienda;
}
.form-area .single-form input,
.form-area .single-form textarea {
    width: 100%;
    padding: 10px;
}
.form-area .single-form input:focus + label,
.form-area .single-form input:valid + label,
.form-area .single-form textarea:focus + label,
.form-area .single-form input:valid + label{
color: #00b2b0;
font-size: .9rem;
font-weight: bold;
top: -10px;
}

.form-area .single-form textarea {
    height: 120px;
}
.form-area label {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #777;
    font-size: .9rem;
    background: #fff;
    transition: .5s;
}
.form-area a {
    text-decoration: none;
    background: #242424;
    color: #ccc7af;
    display: block;
    text-align: center;
    padding: 5px;
    font-family: bignoodletitling;
    letter-spacing: 5px;
    font-size: 20px;
}



/* Intro */

.section {
    height: 30%;
    background-color: #242424;

}

/* Email */
.email {
    background-color: #242424;
    display: flex;
    padding-bottom: 70px;
}
.email h2 {
    font-size: 20px;
    color: #fff;
    font-family: bignoodletitling;
    letter-spacing: 4px;
}

.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe__input {
    width: 60%;
    height: 40px;
    padding: 12px;

    background: #fff;
    border: 1px solid #9c9999;
    border-right: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.1;
    color: #333;
}

.subscribe__input::placeholder {
    color: rgb(156, 154, 154);
}


.subscribe__btn {
    width: 40%;
    height: 40px;
    padding: 12px 30px;

    background-color: #045f4e;
    border: 0;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;

    transition: background .2s linear;
}

.subscribe__btn:hover {
    background-color: #1aa189;
}

/* Email */

/* Footer */
.footer {
    padding-top: 65px;
    background-color: #242424;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
    padding-bottom: 65px;
}
.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
    color: #E0DDCF;
}

.footer-heading a {
    color: #ccc7af;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: #fff;
    transition: 0.3s ease-out;
}
/* Footer */

/* Copyright */
.copyright {
    padding: 20px 0;

    border-top: 1px solid #e5e5e5;

    font-size: 14px;
    color: #ccc7af;
    text-align: center;
}
/* Copyright */



@font-face {
    font-family: "bignoodletitling"; 
    src: url("Assets/big_noodle_titling.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

@media (max-width: 770px) {
    /* Intro */
    .intro {
        min-height: 650px;
    }
    /* Header */
    .header {
        padding: 10px 0;
    }
    /* Menu */
    .menu {
        display: none;
        width: 100%;

        position: absolute;
        top: 100%;
        left: 0;

    }
    .menu_link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }
}