* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Roboto', sans-serif;
    background-color: #2E2E2E;
    color: white;
    margin: 0;
}

.menu {
    background-color: #202020;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.head {
    padding-left: 50px;
    margin-bottom: 50px;
    min-height: 360px;
    background-image: url(./sources/header-img.jpg);
    background-color: #202020;
    background-repeat: no-repeat;
    background-size: cover;
}

.head h1 {
    padding-top: 150px;
    font-size: 64px;
    text-transform: uppercase;
}

.head p {
    font-size: 42px;
    font-weight: bold;
    color: #EC1C25;
}

.logo {
    padding: 20px;
    margin-left: 10px;
}

.logo img {
    max-width: 160px;
    max-height: 52px;
    width: auto;
    height: auto;
    padding-top: 5px;
    transform: skewX(10deg);
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

nav ul li {
    padding: 5px;
    margin-bottom: 15px;
}

nav a {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    color: white;
    transition: background-color 0.2s linear;
}

nav a.active, nav a:hover {
    background-color: #EC1C25;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.whyUs {
    margin-bottom: 50px;
}

.whyUs h2 {
    font-size: 32px;
    text-transform: uppercase;
}

.whyUs p {
    font-size: 18px;
}

.link {
    margin-bottom: 50px;
    text-align: center;
}

.link h2 {
    font-size: 32px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid 5px #7F7F7F;
    text-transform: uppercase;
}

.button {
    background-color: #EC1C25;
    font-size: 24px;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    color: white;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #660708;
}

footer {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    height: 75px;
}

.copyright {
    padding: 25px 10px;
}

.backToTop a {
    background-color: #EC1C25;
    padding: 10px 20px 10px 20px;
    color: white;
    transition: background-color 0.2s linear;
    justify-items: end;
    margin: 25px;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 18px;
}

.whatWeDo h2 {
    font-size: 32px;
    text-align: center;
    border-bottom: solid 5px #EC1C25;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.whatWeDo p {
    font-size: 18px;
    padding-bottom: 5px;
}

.printVideo {
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: center;
    margin-bottom: 50px;
}

.youtube {
    display: flex;
    border: none;
    width: 890px;
    height: 500px;
}

.whoWeAre h2 {
    font-size: 32px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid 5px #7F7F7F;
    text-transform: uppercase;
}

.introduction {
    margin-bottom: 50px;
}

.recommendations h3 {
    font-size: 24px;
}

.owner {
    color: #7F7F7F;
}

.ownerP {
    font-size: 18px;
}

.referenceHeader h2 {
    font-size: 32px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid 5px #7F7F7F;
    text-transform: uppercase;
}

.contactPossibilities h2 {
    font-size: 24px;
    margin-top: 25px;
    text-transform: uppercase;
}

.contactPossibilities i {
    font-size: 24px;
    color: #EC1C25;
    margin-right: 5px;
}

.contactPossibilities p {
    font-size: 16px;
    margin-bottom: 50px;
}

.contactPossibilities a {
    color: white;
    transition: background-color 0.2s linear;
}

.contactPossibilities a:hover {
    color: #7F7F7F;
}

.map {
    margin-bottom: 30px;
}

.map iframe {
    width: 100%;
    border: none;
    overflow: hidden;
}

@media screen and (min-width: 1px) {
    .services {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    .service {
        width: 100%;
        padding-left: 10px;
        text-align: center;
    }
    .service h3 {
        font-size: 24px;
        text-align: center;
    }
    .service p {
        font-size: 18px;
    }
    .service h3 i {
        font-size: 48px;
        margin-right: 5px;
        color: #EC1C25;
    }
    .citations {
        display: flex;
        flex-wrap: wrap;
    }
    .citation {
        width: 100%;
    }
    .citation h3 {
        text-align: center;
        font-size: 24px;
    }
    .citation blockquote {
        font-size: 18px;
    }
    .productsSample {
        display: flex;
        flex-wrap: wrap;
    }
    .sample {
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 10px;
    }
    .sample1 {
        background-image: url(./sources/foto-1.jpg);
    }
    .sample2 {
        background-image: url(./sources/foto-2.jpg);
    }
    .printExample {
        display: flex;
        flex-wrap: wrap;
    }
    .example {
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-bottom: 10px;
    }
    .example1 {
        background-image: url(./sources/realizace_1.jpg);
    }
    .example2 {
        background-image: url(./sources/realizace_11.jpg);
    }
    .example3 {
        background-image: url(./sources/realizace_12.jpg);
    }
    .realizations {
        display: flex;
        flex-wrap: wrap;
    }
    .realization {
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-bottom: 10px;
    }
    .realization1 {
        background-image: url(./sources/realizace_2.jpg);
    }
    .realization2 {
        background-image: url(./sources/realizace_3.jpg);
    }
    .realization3 {
        background-image: url(./sources/realizace_4.jpg);
    }
    .realization4 {
        background-image: url(./sources/realizace_5.jpg);
    }
    .realization5 {
        background-image: url(./sources/realizace_6.jpg);
    }
    .realization6 {
        background-image: url(./sources/realizace_7.jpg);
    }
    .references {
        display: flex;
        flex-wrap: wrap;
    }
    .reference {
        width: calc(100%/3);
        height: 150px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-bottom: 5px;
        text-align: center;
        font-size: 14px;
        padding-top: 120px;
    }
    .reference1 {
        background-image: url(./sources/logo_1.png);
    }
    .reference2 {
        background-image: url(./sources/logo_2.png);
    }
    .reference3 {
        background-image: url(./sources/logo_3.png);
    }
    .reference4 {
        background-image: url(./sources/logo_4.png);
    }
    .reference5 {
        background-image: url(./sources/logo_5.png);
    }
    .reference6 {
        background-image: url(./sources/logo_6.png);
    }
    .reference7 {
        background-image: url(./sources/logo_7.png);
    }
    .reference8 {
        background-image: url(./sources/logo_8.png);
    }
    .reference9 {
        background-image: url(./sources/logo_9.png);
    }
    .reference10 {
        background-image: url(./sources/logo_10.png);
    }
    .reference11 {
        background-image: url(./sources/logo_11.png);
    }
    .reference12 {
        background-image: url(./sources/logo_12.png);
    }
    .recommendations {
        display: flex;
        flex-wrap: wrap;
    }
    .recommendation {
        width: 100%;
    }
    .recHeader {
        display: flex;
        flex-wrap: wrap;
    }
    .recHeaderFoto {
        padding-top: 15px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 800px) {
    .service {
        width: 50%;
    }
    .service:nth-child(1) {
        padding-right: 30px;
    }
    .service:nth-child(3) {
        padding-right: 30px;
    }
    .service:nth-child(5) {
        padding-right: 30px;
    }
    .service:nth-child(7) {
        padding-right: 30px;
    }
    .citation {
        width: 50%;
    }
    .sample {
        width: 50%;
    }
    .example {
        width: calc(100%/3);
    }
    .realization {
        width: calc(100%/3);
        margin-bottom: 0;
    }
    .reference {
        width: 25%;
    }
    .recommendation {
        width: 50%;
        padding-right: 25px;
    }
}

@media print {
    body {
        font-family: 'Lato', 'Roboto', sans-serif;
        background-color: white;
        color: black;
        margin: 0;
        padding: 0;
    }
    .menu {
        display: none;
    }
    .head {
        padding: 0;
        margin: 0;
        background-color: white;
        background-image: none;
        min-height: auto;
        background-size: auto;
    }
    .head h1 {
        padding-top: 0;
        margin: 0;
        font-size: 24px;
        text-transform: uppercase;
    }
    .head p {
        font-size: 14px;
        color: black;
        font-weight: bold;
        margin: 0;
    }
    main {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }
    .whyUs {
        margin-bottom: 0;
    }
    .whyUs h2 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .whyUs p {
        font-size: 14px;
        margin: 0;
    }
    .link {
        display: none;
    }
    footer {
        background-color: white;
        display: flex;
        justify-content: space-between;
        height: 25px;
    }
    .copyright {
        padding: 0;
        font-size: 14px;
    }
    .backToTop a {
        display: none;
    }
    .whatWeDo h2 {
        font-size: 18px;
        text-align: left;
        border-bottom: none;
        padding-bottom: 5px;
        text-transform: uppercase;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .whatWeDo p {
        font-size: 14px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    .printVideo {
        display: none;
    }
    .whoWeAre h2 {
        font-size: 18px;
        text-align: left;
        padding-bottom: 0;
        border-bottom: none;
        text-transform: uppercase;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .introduction {
        margin-bottom: 0;
    }
    .recommendations h3 {
        font-size: 18px;
    }
    .owner {
        color: black;
    }
    .ownerP {
        font-size: 14px;
        margin: 0;
    }
    .referenceHeader h2 {
        font-size: 18px;
        text-align: left;
        padding-bottom: 5px;
        border-bottom: none;
        text-transform: uppercase;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .contactPossibilities h2 {
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    .contactPossibilities i {
        font-size: 18px;
        color: #EC1C25;
        margin-right: 5px;
    }
    .contactPossibilities p {
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .contactPossibilities a {
        color: black;
        transition: background-color 0.2s linear;
    }
    .map {
        display: none;
    }
    .services {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .service {
        width: 100%;
        padding-left: 0;
        text-align: left;
    }
    .service h3 {
        font-size: 18px;
        text-align: left;
        margin-bottom: 0;
        margin-top: 0;
    }
    .service p {
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .service h3 i {
        font-size: 24px;
        color: black;
    }
    .citation h3 {
        text-align: left;
        font-size: 18px;
        margin: 0;
    }
    .citation blockquote {
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .productsSample {
        display: none;
    }
    .printExample {
        display: none;
    }
    .realizations {
        display: none;
    }
    .references {
        display: inline;
    }
    .reference {
        background-image: none;
        height: 15px;
        text-align: left;
        padding-top: 5px;
        margin-bottom: 10px;
    }
    .recHeader {
        display: flex;
        flex-wrap: wrap;
    }
    .recHeaderFoto {
        display: none;
    }
    .recHeader h3 {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .owner {
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 14px;
    }
}