* {
	box-sizing: border-box;
	margin: 0px;
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
}

div {
	display: block;
}

section {
	height: 100vh;
	width: 100%;
	margin: 0;
}

header {
	opacity: 0;
	position: fixed;
	z-index: 2;
	height: 100%;
	transition: opacity 1s ease-out;
}

header:hover {
	opacity: 1;
}

img.logo {
	z-index: 3;
	position: absolute;
	position: fixed;
	top: 10;
	left: 10;
	margin-top: 5px;
	margin-left: 5px;
}

nav {
	padding-top: 30%;
	padding-left: 0px;
	padding-right: 0px;
	width: max-content;
	background: rgba(20, 20, 20, 0.9);
	transition: padding 1s ease-out;
	height: 100%;
}

nav:hover {
	width: 200px;
	padding-top: 30%;
	padding-left: 20%;
	padding-right: 15%;
}

ul.menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li a {
	font-size: 1.5em;
	font-weight: bold;
	color: rgb(109, 98, 98);
	text-decoration: none;
	display: block;
	transition: color 1s ease-out;
	list-style-type: none;
}

li a:hover {
	color: white;
}

#home {
	display: grid;
	padding-left: 10%;
	background-image: url("pictures/portret_narovnany_upraveny.jpg");
	background-attachment: fixed;
	background-size: cover;
	min-height: max-content;
}

.title {
	align-self: center
}

#about {
	background-color: #eceff1;
	min-height: max-content;
	display: grid;
	padding: 0px;
}

.portrait {
	position: relative;
	object-fit: contain;
	max-height: 100vh;
}

.profile {
	position: relative;
	display: flex;
	padding: 0;
}

.profile-child {
	margin-left: 5px;
	height: max-content;
	align-self: center;
}

#experiences {
	background-color: #eceff1;
	min-height: max-content;
}

.table {
	margin: auto;
	height: max-content;
	width: max-content;
}

.table-column {
	width: 50%;
	margin: 30px;
}

.table-row {
	display: flex;
	border-top: 2px solid rgba(0, 0, 0, 0.6);
}

.table-row h4 {
	float: left;
}

#contact {
	background-color: #cfd8dc;
	height: 75vh;
	min-height: max-content;
}

.grid-box {
	padding-top: 5%;
	height: 100%;
}

form.contact-form {
	margin: auto;
	background-color: white;
	padding: 10px;
	width: 300px;
	position: relative;
	border-radius: 2px;
	border: 2px solid rgba(0, 0, 0, 0.6);
}

input,
textarea {
	width: 100%;
	border-radius: 2px;
	margin-bottom: 10px;
	border: 2px solid rgba(0, 0, 0, 0.6);
	background-image: none;
	background-color: #dadad3;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input[type=submit] {
	margin-top: 10px;
	margin-bottom: 0px;
	cursor: pointer;
	height: 25px;
}

input[type=submit]:hover {
	background-color: grey;
}

textarea {
	resize: vertical;
}

footer {
	height: 25vh;
	background-color: black;
	display: grid;
}

small {
	color: rgb(110, 102, 102);
	text-align: center;
}

ul.icons {
	display: flex;
	margin: auto;
	width: max-content;
	list-style-type: none;
	padding: 0px;
	align-self: center;
}

ul.icons li {
	margin: 20px;
}

h1 {
	vertical-align: middle;
	color: white;
	font-size: 4em;
}

h2 {
	text-align: center;
	font-size: 3em;
}

h4 {
	font-size: 1.3em;
}

h5 {
	color: white;
	font-size: 1.3em;
}

p {
	font-size: 1.5em;
}

@media print {
	.logo {
		display: none;
	}
	.icons {
		display: none;
	}
	section {
		height: max-content;
	}
	form.contact-form {
		display: none;
	}
	footer ul li a img {
		display: none;
	}
	footer {
		height: max-content;
	}
	#home {
		padding-left: 0px;
		text-align: center;
	}
	#contact h2 {
		display: none;
	}
	#contact {
		height: max-content;
	}
}