body {
  font-family: "Arial";
}

.red {
  color: red;
}

.green {
  color: rgb(0, 255, 0);
}

.blue {
  color: #000080;
  font-weight: bold;
}

.size18 {
  font-size: 18px;
}

.size24 {
  font-size: 24px;
  font-style: italic;
}

.white {
  color: white;
  background-color: brown;
}

.centered {
  line-height: 32px;
  text-align: center;
}

.justified {
  text-align: justify;
  text-transform: capitalize;
}

.box {
  width: 400px;
  height: 300px;
  padding: 30px;
  border: 1px solid purple;
  box-sizing: border-box;
}

.box1 {
  width: 500px;
  height: 300px;
  margin: 100px;
  background-color: red;
  box-sizing: border-box;
}

.invi {
  color: transparent;
}

.box2 {
  width: 100%;
  background-color: blue;
  padding: 50px;
  border: 10px solid yellow;
  box-sizing: border-box;
}

.box3 {
  width: 200px;
  height: 500px;
  background-color: green;
  opacity: 0.5;
  box-sizing: border-box;
}

.invi1 {
  color: transparent;
}

.parent {
  width: 400px;
  height: 300px;
  position: relative;
  background-color: lightblue;
  box-sizing: border-box;
}

.parent .child {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: pink;
  box-sizing: border-box;
}

.box4 {
  width: 200px;
  height: 400px;
  border: 20px solid brown;
  border-radius: 10px;
  box-sizing: border-box;
}

.button {
  width: 300px;
  height: 100px;
}

.button:active {
  color: blue;
}

.button1 {
  width: 200px;
  height: 50px;
}

.button1:hover {
  background-color: brown;
}

.box5 {
  width: 200px;
  height: 500px;
  margin-top: 200px;
  background-color: blue;
  box-sizing: border-box;
}

.box5:hover {
  cursor: pointer;
}