.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #10B981;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #10B981 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner{
    bottom: calc(50% - 22px);
}

.lds-ring.small {
  width: 30px;
  height: 30px;
}
.lds-ring.small div {
    width: 22px;
    height: 22px;
    margin: 4px;
    border-width: 4px;
}

.ui-autocomplete {
    background-color: #ECFDF5;
	border-radius: 0.375rem;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 200px;
  }

.ui-menu .ui-menu-item div{
    color: #047857;
    font-weight: normal;
    padding: 10px;
	border-radius: 0.375rem;
}

.ui-menu .ui-menu-item .ui-state-active {
    background-color: #047857;
    color: #ECFDF5;
    border: 0;
}

#ingredients img{
    height: 50px;
}
