@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Permanent+Marker&display=swap');



body {
    
    margin: 0px;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width:100%;
    max-width:1200px;
    margin: 0 auto;
    padding-top: 30px;

}

.header {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:1000;
    background-color:rgb(196, 169, 217);


}

.header_inner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}


.logo {
    font-size:30px;
    font-weight: 700;
    color:black;
    font-family: 'Courgette', cursive;
    
}

.nav {
    font-size:14px;
    text-transform: uppercase;
    
}

.navlink {
    color:black;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    text-decoration: none;
    transition: color .4s linear;
}

.navlink:hover {
    text-decoration: underline;
    opacity: .5;
}

.intro {
    display:flex;
    flex-direction: column;
    width:100%;
    background-color: white;
    -webkit-background-size:cover;
    background-size: cover;
    }
    
    .section_header {
        
        width:100%;
        max-width: 880px;
        margin-top:100px;
        
    }

    
    .h1name {
        font-size: 40px;
        
        font-family: 'Libre Baskerville', serif;
        color:black;
        text-align: left;
    }
    
    .h2name {
        font-size: 20px;
        font-family: 'Noto Sans JP', sans-serif;
        color:black;
        margin-bottom: 50px;
        text-transform: uppercase;
        text-align: left;
        
    }

 .About {
        display:flex;
        margin-bottom: 150px;
        margin-top: 50px;
        margin-left: -35px;
        
    }

    
   
    .about_item1:hover .about_img img{
        opacity: .7;
    }

    .about_item2:hover .about_img img{
        opacity: .7;
    }

    .about_item3:hover .about_img img{
        opacity: .7;
    }
    
    .about_img {
        background: linear-gradient(black, white);
    }
    

    .about_img img {
        display: block;
        transition: opacity .1s linear;
    }

    .about_item1 .about_text1{
        opacity:0;
    }

    .about_item1:hover .about_text1{
        opacity:1;
    }

    .about_item2 .about_text2{
        opacity:0;
    }

    .about_item2:hover .about_text2{
        opacity:1;
    
    }

    .about_item3 .about_text3{
        opacity:0;
    }

    .about_item3:hover .about_text3{
        opacity:1;
    }

    .section_text {
        font-size: 15px;
        color:black;
    }


    .about_item1 {
        width:380px;
        height:245px;
        margin-left:30px;
        margin-right:30px;
    
    }
    
    .p1{
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px;
        color:#7C1F7C;
        font-weight: 600;
    }

    .about_item2  {
        width:380px;
        height:245px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .p2{
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px;
        color:#7C1F7C;
        font-weight: 600; 
    }

    .about_item3 {
        width:380px;
        height:245px;
        margin-left: 30px;
        margin-right: 30px;
       }   
    
    .p3{
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px; 
        color:#7C1F7C;
        font-weight: 600;
    }
.About2{
    display: flex;
    margin-bottom: 150px;
    margin-top: 100px;
    margin-left: -35px;  

}
    .about_item4 {
        width:380px;
        height:245px;
        margin-left:30px;
        margin-right:30px;

    }

    .p4{
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px;
        color:#7C1F7C;
        font-weight: 600;
    }

    .about_item5  {
        width:380px;
        height:245px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .p5{
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px; 
        color:#7C1F7C;
        font-weight: 600;
    }

    .about_item6 {
        width:380px;
        height:245px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .p6{
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px;
        color:#7C1F7C;
        font-weight: 600;
    }

    .about_item4:hover .about_img img{
        opacity: .7;
    }

    .about_item5:hover .about_img img{
        opacity: .7;
    }

    .about_item6:hover .about_img img{
        opacity: .7;
    }

    .about_img {
        background: linear-gradient(black, white);
    }


    .about_img img {
        display: block;
        transition: opacity .1s linear;
    }

    .about_item4 .about_text4{
        opacity:0;
    }

    .about_item4:hover .about_text4{
        opacity:1;
    }

    .about_item5 .about_text5{
        opacity:0;
    }

    .about_item5:hover .about_text5{
         opacity:1;
    }

    .about_item6 .about_text6{
        opacity:0;
    }

    .about_item6:hover .about_text6{
        opacity:1;
    }

    .section_text {
        font-size: 15px;
        color:black;
    }
.text h2{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.text p{
    font-size: 20px;
    
    text-align: center;
    line-height: 30px;
    padding-top:20px;
    padding-bottom:40px;
}

footer{
    background-color:rgb(196, 169, 217) ;
    display:flex ;
    justify-content: space-between;
    height:75px;
}
.copyright{
    padding:25px 25px;
    font-size: 15px;
    
}

@media screen and (max-height:700px) {
    .About img{
        width: 200px;
        height: 150px;
    }
    .About2 img{
        width: 200px;
        height: 150px;
    }
}

@media print{
    .About{
        display: none;
    }
    .About2{
        display: none;
    }
}