* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url('../images/background.png');
  background-position: bottom;
  animation: 25s linear 0s infinite bp;
  font-family: 'Open Sans', sans-serif;
}

@keyframes bp {
  from {
    background-position: 198px 0;
  }
  to {
    background-position: 0 198px;
  }
}

.wrapper {
  padding: 20px;
  padding-bottom: 100px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.container {
  display: grid;
}

.intro-box {
  color: black;
  padding: 90px 90px 90px 160px;
  font-size: 40px;
  font-weight: 900;
  text-align: left;
  padding-left: 160px;
}

.center {
  text-align: center;
}

.intro-box span:nth-of-type(1) {
  color: rgb(255, 173, 1);
}

.intro-box span:nth-of-type(2) {
  font-weight: 100;
}

.image-box {
  padding-top: 0px;
}

.intro-button {
  width: 200px;
  height: 50px;
  background: #f3f0f1;
  position: relative;
  margin-bottom: 25px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: 900;
}

.intro-button span {
  font-size: 18px;
  line-height: 2.5;
}

.intro-button:hover {
  opacity: 0.6;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  color: rgb(255, 173, 1);
}

.intro-button:active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: rgb(255, 173, 1);
}

.intro-box a {
  text-decoration: none;
}

.container-01 {
  grid-template-columns: 60% 40%;
}

.profile-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 2%;
}

header {
  padding-bottom: 20px;
}

header h1 {
  font-family: 'Dancing Script', cursive;
}

.navbar {
  padding: 0 20px;
  max-width: 960px;
}

.margin-auto {
  margin: 0 auto;
}

.active-page {
  font-weight: 900;
}

.logo-box {
  float: left;
  margin-right: 20px;
}

.logo-box a {
  outline: none;
  display: block;
}

.logo-box img {
  display: block;
}

nav {
  overflow: hidden;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

nav li {
  display: inline-block;
  margin-left: 25px;
  height: 70px;
  line-height: 70px;
  transition: .5s linear;
}

nav a {
  text-decoration: none;
  display: block;
  position: relative;
  color: #000000;
  text-transform: uppercase;
}

nav a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 15px;
  background: rgb(255, 219, 88);
  transition: width .5s linear;
}

nav a:hover:after {
  width: 100%;
}

.container-02 {
  grid-template-columns: auto auto;
}

.service-item1 {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.pricing {
  grid-column: 1 / span 2;
  grid-row: 4;
  padding-bottom: 50px;
}

.pricing span:nth-of-type(1) {
  color: rgb(255, 173, 1);
  font-weight: 900;
  font-size: 30px;
}

.pricing p {
  font-size: 24px;
}

.countup-price {
  font-size: 48px;
  font-weight: 500;
  color: rgb(255, 173, 1);
}

.service-item1 p {
  font-size: 24px;
}

.service-item1 span {
  color: rgb(255, 173, 1);
  font-weight: 900;
  font-size: 30px;
}

.service-item {
  padding: 20px;
  text-align: center;
}

.service-image {
  border-radius: 2%;
  max-width: 320px;
  max-height: 212px;
}

.overlay {
  position: relative;
  display: inline-block;
}

.overlay>img {
  vertical-align: middle;
}

.overlay::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #e1ad01;
  opacity: 0;
  transition: .5s ease;
}

.overlay:hover::before {
  opacity: 0.6;
}

.container-03 {
  grid-template-columns: auto auto;
  gap: 40px;
  text-align: justify;
}

.service-detail-image img {
  border-radius: 50%;
}

.service-detail h3 {
  font-weight: 500;
  font-size: 26px;
  color: rgb(255, 173, 1);
}

.container-03 .intro-button, .top-button {
  grid-column: 1 / span 2;
  margin-top: 40px;
}

.intro-button div {
  color: rgb(255, 173, 1);
  font-weight: 900;
}

.intro-button a {
  text-decoration: none;
}

.container-03 a {
  text-decoration: none;
}

.goTopBtn {
  color: rgb(255, 173, 1);
  ;
  text-decoration: none;
}

@media screen and (max-width: 1002px) {
  .container {
    display: block;
  }
  .container-01 {
    grid-template-columns: auto;
  }
  .container-01 .intro-button {
    margin: 0 auto;
  }
  .intro-box {
    text-align: center;
    padding: 0px 0px 90px 0px;
  }
  .image-box img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .container-02 {
    padding-top: 50px;
  }
  .container-03 {
    display: flex;
    flex-direction: column;
  }
  .first {
    order: 1;
  }
  .second {
    order: 2;
  }
  .third {
    order: 3;
  }
  .fourth {
    order: 4;
  }
  .fifth {
    order: 5;
  }
  .sixth {
    order: 6;
  }
  .seventh {
    order: 7;
  }
  .eighth {
    order: 8;
  }
  .ninth {
    order: 9;
  }
  .tenth {
    order: 10
  }
}

@media screen and (max-width: 790px) {
  header {
    text-align: center;
  }
  .logo-box {
    float: none;
    display: inline-block;
    margin: 0 0 16px 0;
  }
  .navbar ul {
    float: none;
  }
  nav li:first-of-type {
    margin-left: 0;
  }
}

@media screen and (max-width: 550px) {
  nav {
    overflow: visible;
  }
  nav li {
    display: block;
    margin: 0;
    height: 40px;
    line-height: 40px;
  }
  nav li:hover {
    background-color: rgb(255, 219, 88);
  }
  nav a:after {
    content: none;
  }
  .service-image {
    max-width: 200px;
  }
  .container .contact-other a:nth-of-type(3) {
    font-size: 16px;
  }
  .container .reference {
    padding: 20px 0px 0px 0px;
  }
}

footer {
  text-align: center;
  height: 50px;
  font-size: 14px;
  margin-top: 50px;
}

footer a {
  text-decoration: none;
  color: rgb(227, 146, 0);
  ;
}

.container-about-me {
  grid-template-columns: auto auto;
}

.about-me-first {
  grid-row: 1 / span 1;
}

.about-me-second {
  grid-row: 1 / span 1;
  padding-bottom: 100px;
  text-align: justify;
}

.about-me-image {
  text-align: center;
}

.about-me-image img {
  width: 300px;
  border-radius: 50%;
  padding: 1px;
  border: 2px solid;
}

.about-me p {
  font-size: 20px;
  text-align: justify;
}

.container-about-me h1 {
  color: rgb(255, 173, 1);
  text-align: center;
}

.about-me-first p {
  text-align: center;
  font-size: 28px;
}

.container-about-me p span {
  font-weight: 900;
  color: rgb(255, 173, 1);
}

.container-about-me .intro-button {
  grid-column: 1 / span 2;
}

.container-reference {
  grid-template-columns: auto auto;
  gap: 50px;
}

.reference-headline {
  grid-column: 1 / span 2;
}

.reference-headline h1 {
  color: rgb(255, 173, 1);
}

.reference {
  background: rgba(255, 255, 255, 0.7);
  padding: 50px 50px 0px 50px;
  height: fit-content;
}

blockquote footer {
  color: rgb(255, 173, 1);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.faq h1 {
  font-weight: 500;
  text-align: center;
}

.faq span {
  font-weight: 900;
  color: rgb(255, 173, 1);
}

.collapsible {
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 5px;
  border: 1px solid rgb(200 200 200);
  border-radius: 30px;
}

.active, .collapsible:hover {
  background-color: rgb(255, 173, 1);
}

.collapsible:after {
  content: '\002B';
  color: rgb(255, 173, 1);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  color: black;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
}

.container-faq {
  max-width: 1000px;
}

.collapsibleList {
  list-style: none;
  text-align: center;
  padding-left: 0px;
}

.collapsibleList li {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.collapsibleList li a {
  text-decoration: none;
  color: rgb(255, 173, 1);
  font-weight: 900;
}

.collapsibleList li ul {
  padding-left: 0px;
}

.collapsibleList li>input+* {
  display: none;
}

.collapsibleList li>input:checked+* {
  display: block;
  list-style: none;
}

.collapsibleList li>input {
  display: none;
}

.collapsibleList label {
  cursor: pointer;
  font-weight: 900;
}

.collapsibleList label:hover {
  color: rgb(255, 173, 1);
}

.contact {
  grid-template-columns: auto auto;
  gap: 50px;
}

form {
  display: inline-grid;
  grid-row-gap: 25px;
}

form input {
  border: none;
  line-height: 2;
  padding: 5px;
}

form input:focus {
  outline: none;
}

form textarea {
  border: none;
  line-height: 2;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  resize: vertical;
}

form textarea:focus {
  outline: none;
}

.contact-form {
  padding: 30px;
  background: rgba(255, 173, 1, 0.7);
  max-width: 500px;
}

.contact-heading {
  font-weight: 500;
  margin-bottom: 55px;
}

.contact-heading span {
  font-weight: 900;
  color: rgb(255, 173, 1);
}

.contact-button {
  width: 200px;
  height: 50px;
  background: #f3f0f1;
  position: relative;
  margin-bottom: 25px;
  border-radius: 32px;
  cursor: pointer;
}

.contact-button input {
  cursor: pointer;
  font-size: 15px;
  line-height: 2.5;
  background: #f3f0f1;
  font-weight: 900;
  width: 160px;
  border: none;
}

.contact-button input:hover {
  color: rgb(255, 173, 1);
}

.contact-other {
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;
  max-width: 500px;
}

.contact-other h3 {
  font-weight: 500;
}

.contact-other i {
  margin-right: 20px;
}

.contact-other hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-other a:nth-of-type(1) {
  font-size: 30px;
  text-decoration: none;
  color: #000000;
}

.contact-other a:nth-of-type(2) {
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}

.contact-other a:nth-of-type(3) {
  font-size: 18px;
  text-decoration: none;
  color: rgb(255, 173, 1);
}

.contact-other .fas, .fab {
  color: rgb(255, 173, 1);
}

.succes {
  text-align: center;
}

.succes a {
  text-decoration: none;
  color: rgb(255, 173, 1);
  font-size: 28px;
  font-weight: 900;
}

.succes-footer {
  text-align: center;
  height: 50px;
  font-size: 14px;
  margin-top: 450px;
}

@-moz-document url-prefix() {
  .contact-form {
    max-width: inherit;
  }
  @media screen and (max-width: 582px) {
    form input, textarea {
      width: 200px;
    }
  }
}

@media print {
  * {
    background-color: transparent;
    color: black;
  }
  .navbar nav {
    display: none;
  }
  .wrapper .container-01 {
    display: block;
  }
  .container-01 .intro-box a {
    display: none;
  }
  .container-01 .intro-box {
    padding-bottom: 0px;
  }
  .container-01 .image-box {
    text-align: center;
  }
  .container .pricing h3 {
    color: black;
  }
  .container .service-detail h3 {
    color: black;
  }
  .container .reference-headline h1 {
    color: black;
  }
  .container-about-me {
    display: block;
  }
  .about-me-second .about-me h1 {
    color: black;
  }
  .wrapper .contact-heading span {
    color: black;
  }
  .container .intro-box p span {
    color: black;
  }
  .container .service-item span {
    color: black;
  }
  .container .pricing span {
    color: black;
  }
  .intro-box a .intro-button span {
    color: black;
  }
  .about-me-first p span {
    color: black;
  }
  .container-faq h1 span {
    color: black;
  }
  .container .contact-other i {
    color: black;
  }
  .container .contact-other a {
    color: black;
  }
  img {
    filter: grayscale(100%);
  }
  footer {
    margin-top: 0px;
  }
  blockquote footer {
    color: black;
  }
  .container-reference {
    display: block;
  }
}