* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../src/drevo.jpg);
    background-attachment: fixed;
    color: rgb(235, 218, 197);
    margin: 0;
}

header {
    text-align: center;
    padding: 0;
    max-width: 1920px;
    margin: 0 auto;
    background: rgb(207, 169, 123);
    background: linear-gradient(150deg, rgba(207, 169, 123, 1) 0%, rgba(79, 49, 33, 0.5) 50%, rgba(207, 169, 123, 0.5) 100%);
}

.logo {
    width: 100%;
    height: 150px;
    padding-top: 0px;
    margin-top: 0px;
    background-image: url(../src/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
}

nav ul {
    box-sizing: border-box;
    width: 100%;
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    height: 60px;
    width: 20%;
    transition: background-color 0.4s linear;
    justify-content: center;
    padding: 15px 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.01) 91%);
    border: rgba(79, 49, 33) solid 2px;
}

nav a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: rgb(235, 218, 197);
    display: inline-block;
    width: 100%;
    font-weight: bold;
}

nav ul li.active {
    border-bottom: rgb(79, 49, 33) solid 7px;
    font-size: larger;
    background: rgba(207, 169, 123, 0.2)
}

nav ul li:hover {
    border-bottom: rgb(79, 49, 33) solid 7px;
    background: rgba(207, 169, 123, 0.5)
}

.jumbotron {
    background-image: url(../src/restaurace_pozadi.jpg);
    padding: 90px 0 400px 0;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
}

.jumbotron h1 {
    font-size: 45px;
    text-transform: uppercase;
}

.jumbotron h1, .jumbotron h3 {
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 auto 15px auto;
}

.hello {
    width: 70%;
}

.news {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 auto 15px 15px;
    width: 30%;
}

main {
    max-width: 1920px;
    margin: 0 auto;
    background-color: rgba(43, 29, 20, 0.5);
}

section {
    max-width: 1920px;
    margin: 100px auto 0;
}

.contactandreservation {
    background-color: rgba(43, 29, 20, 0.5);
    display: flex;
    margin-bottom: 30px;
}

.contact {
    width: 50%;
    margin: 10px;
    display: grid;
}

.info {
    margin-top: 10px;
    width: 100%;
    flex-wrap: wrap;
    height: min-content;
}

.adress {
    font-size: 20px;
    margin: 5px 30px 5px 5px;
    float: left;
    width: 50%;
    height: auto;
}

.adress>h4 {
    margin: 5px;
}

.adress>h4:nth-child(5) {
    margin-top: 30px;
}

.time {
    font-size: 20px;
    margin: 15px;
    height: auto;
    float: left;
    width: 40%;
}

.time table {
    border-collapse: collapse;
    width: 100%;
}

.time th {
    text-align: left;
}

.map {
    background-image: url("../src/mapa.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    border: 5px solid rgba(207, 169, 123, 0.5);
    margin: 15px 5px;
}

.map:hover {
    border: 10px solid rgb(43, 29, 20);
}

input, textarea {
    background-color: rgba(207, 169, 123, 0.7);
    width: 100%;
    color: white;
    border: 3px solid rgb(79, 49, 33);
    border-radius: 5px;
}

.reservation {
    width: 50%;
    position: relative;
    margin: 10px 15px 25px;
}

form {
    padding: 5px;
    background: rgb(207, 169, 123);
    background: linear-gradient(90deg, rgba(207, 169, 123, 1) 0%, rgba(79, 49, 33, 0.5) 35%, rgba(79, 49, 33, 0.5) 65%, rgba(207, 169, 123, 0.5) 100%);
}

input {
    height: 45Px;
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}

input:last-child:hover {
    cursor: pointer;
    background-color: rgba(207, 169, 123, 1);
}

::placeholder {
    color: white;
}

textarea {
    height: 472px;
    font-size: 20px;
    color: black;
}

footer {
    text-align: center;
    height: 25px;
    width: 100%;
    background: rgb(43, 29, 20);
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    color: white;
}

.info {
    display: flex;
}

.gallery {
    width: 100%;
    margin: 10px;
    display: flex;
    text-align: center;
}

img {
    margin: 40px;
    width: 400px;
    height: 400px;
}

img:hover {
    border: rgb(43, 29, 20) solid 5px;
}

.menu {
    font-family: 'Kalam', cursive;
}

main>h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
}

.menu>h2 {
    text-align: center;
    margin: 10px;
}

.menu>h3 {
    text-align: center;
}

.dishes ul, .drinks ul {
    width: 90%;
    margin: auto;
}

.dishes ul li, .drinks ul li {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    border-bottom: 2px dotted black;
}

ul li span {
    padding-top: 10px;
    padding-bottom: 0;
    font-size: larger;
}

ul li span:first-child {
    float: left;
}

ul li span:nth-child(2) {
    float: right;
}

ul li p {
    font-size: smaller;
    width: 100%;
    float: left;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
}

.aboutus {
    width: 60%;
    margin: auto;
}

.aboutus p {
    padding: 10px 40px;
    text-align: justify;
}

@media print {
    .body {
        background-color: white;
        color: black;
        font-size: smaller;
    }
    header, footer, .reservation, .map {
        display: none;
    }
    .contact {
        display: flex;
        width: 100%;
    }
    .adress, .time {
        width: 40%;
    }
    img {
        width: 25%;
        height: auto;
    }
}

@media screen and (max-width: 900px) {
    nav ul {
        flex-wrap: wrap;
    }
    nav ul li:nth-child(-n+2) {
        width: 50%;
    }
    nav ul li:nth-child(n+3) {
        width: calc(100% / 3);
    }
    .info {
        display: grid;
    }
    .map {
        height: auto;
    }
}

@media screen and (max-width: 700px) {
    .jumbotron {
        display: grid;
    }
    .news {
        margin-left: 0px;
    }
    .contactandreservation {
        display: grid;
    }
    .info, .map, .adress, .contact, .reservation, .hello, .news, nav ul li {
        width: 100%;
    }
    nav ul li a {
        font-size: 15px;
    }
    .reservation, .map {
        width: 95%;
    }
    .map {
        width: 93%;
        height: 300px;
    }
    .aboutus {
        width: 80%;
    }
    .aboutus p {
        padding: 10px 40px;
        text-align: left;
    }
}

@media screen and (max-width: 479px) {
    /* start of phone styles */
    nav ul {
        display: grid;
    }
    nav ul li a {
        font-size: 20px;
    }
    .jumbotron {
        display: grid;
    }
    .news {
        margin-left: 0px;
    }
    .contactandreservation {
        display: grid;
    }
    .info, .map, .adress, .contact, .reservation, .hello, .news, nav ul li:nth-child(-n+2), nav ul li:nth-child(n+3) {
        width: 100%;
    }
    .reservation, .map {
        width: 95%;
    }
    .map {
        width: 93%;
        height: 300px;
    }
    .menu {
        font-size: 13px;
    }
    img {
        width: 40%;
        height: auto;
        margin: 5px;
    }
}