* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: .3rem;
  }
.thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
body {
    background-color: rgb(255, 255, 255) ;
    display: flex;
    flex-direction: column;
}
.big-box {
    display: flex;
}
.film-box {
    display: flex;
}
.container-small {
    border-bottom: double;  
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtm1R-EHscLKBb1MmliKQKObMVvWA5XA-zpw&usqp=CAU");
    display: flex;
    opacity: 0.8;
    height:fit-content;
    width: 100%;
}

#delete-movie, #myFavorites, #save-button {
    margin:15px ; 
    color: #fff;
    background-color:  #70c8e2;
    border-color: #289dc0;
    border-radius: .3rem;
}
#delete-movie{
    width: 30px;
    height: 30px;
    background-color:  #d870e2;
    border-color: #7e0463;
}
#infotext {
    color: #fff;
}
.btn {
    color: #fff;
    background-color: #70c8e2;
    border-color: #289dc0;
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin:10px ;
}
h3 {
    margin:10px ;
    color: rgb(15, 15, 15);
    font-size: 350%;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px rgb(250, 246, 246);
}
h2 {
    margin:15px ; 
    font-size: 130%;
    text-shadow: 2px 2px 5px rgb(174, 219, 236);
}
h4 {
    margin:15px ; 
    font-size: 170%;
    text-shadow: 2px 2px 5px rgb(248, 194, 234);
    text-align: center;
}
h5 {
    text-shadow: 2px 2px 5px rgb(174, 219, 236);
    margin:15px ; 
}
.jumbotron {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg");
    border: 2px solid rgb(15, 15, 15);
    opacity: 0.8;
    width: 100%;
    margin: 10px;
    height: fit-content;
}
.backgr {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
footer {
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   margin:15px ;
   clear: both;
   margin-bottom: 0;
   flex-shrink: 0;
}
.list-group {
    border: 2px solid rgb(27, 165, 230);
}
aside {
    float: left;
    display: flex;
    border: 2px solid rgb(15, 15, 15);
    border-radius: .3rem;
}
#favorites {
    width: 25%;
    margin: 10px;
    overflow: auto;
    max-height: 100vh;
    flex-wrap: wrap;
    display: flex;
}
.box-container {
    width: 100%;
    float: none;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 100vh;
}
#movies{
    padding: 15px;
}
#movie-card {
    width: 50%;
    float: none;
    display: flex;
    margin: 10px;
    overflow: auto;
    max-height: 100vh;
}
@media (min-width:960px) {
#movies .col-md-3 .well {
    height: 390px;
}
#movies .col-md-3 img{
    height: 240px;}
}
@media (min-width: 768px) {
.col-md-9 {
    max-width: 100%;
}}
 