.header_image {
  background-image: url(../homepage/images/team1.png);
  width: 1000px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  width: 1000px;
}

button a {
  text-decoration: none;
}

nav a {
  padding: 10px 0;
}

nav a,
nav .dropdown {
  float: left;
  font-size: 16px;
  color: white;
  background-color: #333;
  text-align: center;
  text-decoration: none;
  border-right: 1px solid #bbb;
  width: 20%;
}

.dropdown a {
  border: none;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

nav a:last-child {
  border-right: none;
}

nav a:hover,
.dropbtn:hover,
.dropdown-content a:hover {
  background-color: red !important;
}

#index {
  background-color: red;
}

#sledovani {
  background-color: red;
}

#postavy {
  background-color: red;
}

#extra {
  background-color: red;
}

#epizody {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 38px;
  background-color: #f9f9f9;
  width: calc(1000px / 5);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 800px) {
  nav {
    width: 800px;
  }

  .header_image {
    background-image: url(../homepage/images/team1_800.png);
    width: 800px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .dropdown-content {
    width: calc(800px / 5);
  }
}

@media print {
  header {
    display: none;
  }

  img {
    display: none;
  }

  a {
    display: none;
  }

  footer {
    display: none;
  }
}
