* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

h1 {
    text-align: center;
    padding: 50px 10px;
    color: whi\te;
    background-color: rgb(192, 50, 50);
}

.instructions {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
}

.colors>input {
    width: 50%;
    padding: 5px;
    border: none;
    font-size: 18px;
    margin: 0;
    float: left;
    color: white;
}

@media screen and (min-width: 720px) {
    .colors>input {
        padding: 20px;
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 1024px) {
    .colors>input {
        width: 20%;
    }
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
    color: white;
    font-size: 18px;
    text-align: center;
}

.wrapper>header {
    width: 100%;
    height: 10vw;
    float: left;
    padding: 20px;
    background-color: rgb(223, 114, 75);
}

.wrapper>nav {
    width: 100%;
    height: 5vw;
    float: left;
    padding: 20;
    background-color: rgb( 47, 108, 136);
}

@media screen and (min-width: 720px) {
    .wrapper>div>main {
        width: 70%;
        height: 25vw;
        float: left;
        padding: 20px;
        background-color: rgb( 192, 70, 94);
    }
    .wrapper>div>aside {
        width: 30%;
        height: 25vw;
        float: right;
        padding: 20px;
        background-color: rgb(53, 184, 155);
    }
}

@media screen and (max-width: 720px) {
    .wrapper>div>main {
        width: 100%;
        height: 25vw;
        float: left;
        padding: 20px;
        background-color: rgb( 192, 70, 94);
    }
    .wrapper>div>aside {
        width: 100%;
        height: 25vw;
        float: right;
        padding: 20px;
        background-color: rgb(53, 184, 155);
    }
}

.wrapper>footer {
    width: 100%;
    height: 7vw;
    float: left;
    padding: 20px;
    background-color: rgb( 39, 39, 39);
}