* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 0;
}

.menu-active:hover {
    background-color: green;
}

.layout {
    margin: auto;
    display: flex;
    padding: 5px;
}

.spinner {
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 30;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 30px solid transparent;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: yellow;
        left: 0px;
        top: 50px;
    }
    50% {
        background-color: blue;
        left: 0px;
        top: 0px;
    }
    75% {
        background-color: green;
        left: 0px;
        top: 70px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

.kpis {
    display: flex;
}

.kpi-item {
    width: 25%;
    padding: 10px 10px;
    border: cornflowerblue 1px solid;
    border-radius: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    text-align: justify;
    padding: 20px;
    border: cornflowerblue 1px solid;
    border-radius: 5px;
}

.card-image {
    width: calc(100% - 100% / 3);
    padding: 0;
}

.card img {
    width: 100%;
}

.card-footer {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
    height: 30px;
}

.card-video {
    height: 420px;
    width: 70%;
    padding: 0;
}

.card iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.card-performance {
    width: 30%;
}

.card-app, .card-usage, .card-settings {
    width: 33%;
}

.card-recent {
    width: 33%;
}

.card-full {
    width: 100%;
}

.menu {
    min-width: 230px;
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding: 10px 10px;
}

.menu-welcome {
    padding: 5px 5px;
    text-align: center;
    background-color: darkcyan;
    color: aliceblue;
}

.menu-item i {
    width: 50px;
    padding: 0 10px;
}

.menu-active {
    background-color: cornflowerblue;
    color: white;
}

.menu-footer {
    background-color: transparent;
    margin-top: auto;
    display: flex;
    padding: 0;
}

.mf-item {
    background-color: cornflowerblue;
    width: 33%;
    padding: 5px 0;
    text-align: center;
}

.mf-item:hover {
    transition: 1s;
    background-color: crimson;
}

.main {
    flex-grow: 1;
    width: 100%;
}

.main-header {
    font-weight: bold;
    font-size: 30px;
    padding: 40px 10px;
    text-align: center;
    border-bottom: 10px dashed cornflowerblue;
}