* {
    box-sizing: border-box;
}

.logo {
    position: absolute;
    padding: 20px;
}

body {
    height: 100%;
}

.wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

.playground {
    padding-bottom: 5rem;
}

.playground h1{
    color: white;
    flex-wrap: wrap;
    flex-direction: column;
}

.bg {
    position: fixed;
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
  }

header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10000;
}


header nav ul {
        float: right;
        margin: 0;
        margin-top: 28px;
        background-color: black;
        height: 80px;
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        padding: 20px;
        text-transform: uppercase;
}

header li {
    padding: 10px;
    font-size: 18px;
}

header nav a {
    text-decoration: none;
    color:white;
    padding: 10px;
    transition: background-color 1s ease;
}

nav a.active, nav a:hover {
    background-color: red;
    color: white;
}

.row {
    padding: 250px 0;
    color: white;
    text-align: center;
}

.row h1 {
    font-size: 45px;
}
.row h1, .row h3 {
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 720px;
    margin: 0 auto 10px auto;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding-bottom: 50px;
   background-color: red;
   color: white;
   text-align: center;
   height: 2.5rem;
}

.form .row {
    padding: 100px;
}

.fa {
    display: inline;
    margin-top: 0;
    font-size: 3px;
    width: 8px;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: white;
  }

  .fa-instagram {
    color: white;
  }

  header li .fa{
    display: inline;
    padding:10px;
}  

/**********************
 ***** UDÁLOSTI********
**********************/

.events{
    margin-top: 30px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2.5rem;
}

.outofheader{
    margin-top: 150px;
    display: flex;
}


.outofheader h1{
    margin: auto;
    padding: 20px;
    background-color: black;
    color: whitesmoke;
    display: flex;
}

.event {
    width: 70%;
    background-position: 50% 70%;
    border: solid black 5px;
    padding: 150px 0;
    margin-bottom: 50px;
    height: 500px;
}


.event-text {
    width: 30%;
    border: solid black 5px;
    background-color: black;
    margin-bottom: 50px;
    color: white;
    text-align: center;
}

.event-text a{
    text-decoration: none;
    color: red;
}


.events .event-text:last-child {
    width: 30%;
    border: solid black 5px;
    color: white;
    text-align: center;
}

.events .event-text:last-child iframe {
    width: 100%;
    height: 200px
}


.event:nth-child(1){
    background-image: url("../img/rozsirenihriste.jpg");
    background-position: 50% 40%;
}

.event:nth-child(3){
    background-image: url("../img/krobbackground.jpg");
}


.event:nth-child(5){
    background-image: url("../img/battle2019.jpg");
    background-position: 50% 20%;
}

.event:nth-child(7){
    background-image: url("../img/kratasbackground.jpg");
    background-position: 50% 40%;
    border-bottom: solid black 5px;
}

.event:hover{
    cursor: pointer;
    opacity: 80%;
}



/************
****TEAM*****
************/
.members {
    padding-left: 80px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.member {
    width: 25%;
    /*border: 1px solid black;*/
    max-height: inherit;
    flex-direction: column;
    display: flex;
}

.member p {
    color: white;
    background-color: black;
    padding: 0%;
    margin-top: 50px;
}

.member .fa-facebook{
    color: black;
}

.member .fa-instagram{
    color: black;
    margin-left: 10px;
}

.container{
    margin: 100px;
}

.container h1{
    text-align: center;
}


/**********************
 ***** HŘIŠTĚ********
**********************/

.map {
    margin-top: 200px;
    max-width: 1280px;
    margin: auto;
    margin-top: 10%;
    height: 300px;
    display: flex;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    
}

.text {
    height: 400px;
    max-width: 1280px;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.text ul {
    width: 100%;
}

.text li {
    margin: 0.2rem;
    list-style-type: none;
    font-size: 30px;
}

.text .column {
    width: 32%;
    padding: 10px;
    background-color: black;
}

.left iframe{
    width: 100%;
    height: 100%;
}

.left{
    width: 60%;
}

.right{
    width: 40%;
    background-image: url("../img/hřiště.jpg");
    background-repeat: no-repeat;
    background-size: 100vh;
}

/**********************
 ***** CONTACT ********
**********************/

.form {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1280px;
    height: 70vh;
    border-top-right-radius: 30px;
    background-position: 30px;
    display: flex;
    color: white;
}

.form .img .row h1{
    background-color: unset;
}

.formarea{
    width: 40%;
    text-align: center;
    padding-top: 10px;
    background-color: black;
}

label {
    color: white;
}

textarea {
    width: 80%;
    justify-content: top;
    margin-top: 30px;
}


input[type=text] {
    width: 80%;
    text-align: center;
    background: transparent;
    border: none;
    margin-top: 30px;
    border-bottom: 1px solid grey;
    color: white;
}

.form .img {
    width: 60%;
    height: 100;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: blue;
    background-image: url("../img/email.jpg");
    background-size: cover;
    background-position: center;
}

.form .img:hover{
    opacity: 50%;
    cursor: pointer
}


@media screen and (max-width: 850px) {
    header {
        width: 100%;
        position: absolute;
    }
    
    header nav ul {
        width: 100%;
        padding-bottom: 0px;
        flex-wrap: wrap;
        height: auto;
        background-color: black;
    }

    header nav ul li{
        font-size: 10px;
        width: 100%;
        text-align: center;
    }

    .row {
        padding: 0;
        margin-top: 250px;
        width: 100%;
    }

    .row h1{
        margin: 0;
        background-color: unset;
    }

    .container {
        margin-top: 300px;
    }

    .members {
        width: 100%;
        margin-top: 500px;
        text-align: center;
        margin: 0 auto;
        padding-left: 0px;
    }

    body {
        margin: 0px;
    }

    .member img {
        width: 150px;
        height: 150px;
    }


    .outofheader {
        margin-top: 300px;
        margin-bottom: 0px;
    }

    .events{
        padding-bottom: 0;
    }

    .event {
        height: 200px;
        margin: 0px;
    }

    .event-text {
        width: 100%;
    }

    .events .event-text:last-child {
        width: 100%
    }


    .map {
        margin-top: 300px;
        height: 500px;
        width: 100%;
        flex-wrap: wrap;
    }

    .left{
        width: 100%;
    }
    
    .right{
        display: none;
    }

    .text .column {
        width: 100%;
        padding: 10px;
        background-color: black;
        margin-bottom: 55px;
        margin-right: 30px;
    }

    .form {
        margin-top: 300px;
        margin-bottom: 0px;
        display: grid;
    }

    .form .img {
        height: 200px;
        width: 100%;
        border-radius: 0px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .form .img .row{
        margin-top: 0px;
    }

    .form .img .row h1{
        width: 100%;
        font-size: 22px;
        color: white;
        margin-top: 0px;
    }

    
    .formarea {
        width: 100%;
        margin-bottom: 100px;
        padding-bottom: 20px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

}


@media screen and (max-width: 1400px) {

    .members {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 500px;
        text-align: center;
        margin: 0;
        padding-left: 0px;
        flex-wrap: wrap;
    }

    .member{
        text-align: center;
        width: 100%;
    }

    .member img {
        margin: auto;
    }
} 

@media print {
    header {
        display: none;
    }

    footer {
        display: none;
    }

    .bg {
        display: none;
    }


    .row h1{
        background-color: unset;
        color: black;
    }

    .member .fa{
        display: none;
    }

    .outofheader {
        margin-top: 0px;
    }

    .outofheader h1{
        color: black;
        background-color: unset;
        font-size: 80px;
        padding-bottom: 100px;
    }

    .events{
        padding-bottom: 0;
    }

    .event {
        height: 200px;
        margin: 0px;
    }

    .event-text {
        width: 100%;
    }

    .events .event-text:last-child {
        width: 100%
    }

    .events .row {
        background-image: none;
        width: 100%;
        border: none;
        padding: 0px;
    }

    .events .row h1{
        font-size: 40px;
    }

    .events .row h3{
        background: none;
        color: black;
        text-decoration: underline;
        font-size: 30px;
        padding: 0;
    }

    .event-text {
        padding: 0px;
        color: black;
        background-color: unset;
        border: unset;
    }

    .event {
        height: 20px;
    }

    .events .event-text:last-child{
        padding: 0px;
        color: black;
        background-color: unset;
        border: unset;
    }

    .event-text iframe {
        display: none;
    }

    .map {
        margin-top: 0px;
        background-color: unset;
    }

    .left{
        width: 100%;
    }
    
    .right{
        display: none;
    }

    .text .column{
        width: 100%;
        background-color: unset;
        color: black;
    }
    
    .form {
        flex-direction: column;
        margin-top: 0px;
    }

    .form .img{
        height: 150px;
        width: 100%;
        border-top-left-radius:0px;
        border-bottom-left-radius:0px;
    }

    .form .img .row{
        padding: 0px;
    }

    .form .formarea {
        padding-top: 0px;
        width: 100%;
    }

    .myform {
        background-color: white;
    }

    .form .formarea textarea{
        border: black solid 1px;
    }

    .members {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 500px;
        text-align: center;
        margin: 0;
        padding-left: 0px;
        flex-wrap: wrap;
    }

    .member{
        text-align: center;
        width: 100%;
    }

    .member img {
        margin: auto;
    }

} 