* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

h1 {
    text-align: center;
    padding: 50px 10px;
    color: white;
    background-color: rgb(78, 146, 179);
}

.colors>input {
    padding: 20px;
    border: none;
    font-size: 18px;
    margin: 0;
    float: left;
    width: 25%;
    color: white;
}

.instructions {
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}


.container {
   display: flex;
   flex-wrap: wrap;
   margin:0px;
   background-color: grey;
}

.float-box {
    padding: 100px;
    text-align: center;  
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.container-01 .float-box{
    float:left;
    width: 100%;
  }
 

.container-02 .float-box{
   float: left;
   width: 50%;
 }

 .container-03 .float-box{
   float:left;
   width:33.33%;
 }

 .container-04 .float-box {
  float: left;
  width: 25%;
 }

.float-box:nth-child(1){
    background: rgb(255, 125,  78);
}

.float-box:nth-child(2){
    background:rgb(168,  89,  60) ;
}

.float-box:nth-child(3){
    background:rgb( 33, 165, 121) ;
}

.float-box:nth-child(4){
    background:rgb( 47,  83, 160) ;
}

.float-box:nth-child(5){
    background:rgb(197,  56,  56) ;
}

.float-box:nth-child(6){
    background:rgb(112, 158,  94) ;
}

.float-box:nth-child(7){
    background:rgb(182, 109, 197) ;
}

.float-box:nth-child(8){
    background: rgb(167,  35,  79);
}

.float-box:nth-child(9){
    background: rgb( 38, 189, 189);
}