################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FastGuess/bin/Debug/netcoreapp3.1
/FastGuess/obj
