* {
    box-sizing: border-box;
    max-width: 500px;
    font-family:  Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    text-align: center;
}

form{
    position: relative; /* or absolute */
    left: 100%;
  /*  margin: 0 auto;*/
    text-align: center;
}

