* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    max-width: 1281px;
    font-family: 'Raleway', monospace;
    margin: 0 auto;
    background-color: rgba(160, 30, 69, 0.322);
    box-shadow: 10px 10px 5px rgba(192, 122, 157, 0.37);
    border-radius: 20px;
}

.wrapper {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 20px;
}

header {
    margin: 0 auto;
    max-width: 1281px;
    font-family: 'Raleway', monospace;
    text-align: center;
    background-color: white;
}

h1 {
    float: left;
    font-size: 70px;
    width: 100%;
}

.menu {
    float: right;
    font-size: 15px;
    width: 100%;
    font-size: 18px;
    margin: 0 auto;
}

nav {
    float: left;
    width: 100%;
    overflow: hidden;
    transform: scaleY(0);
    transition: transform 0.1s ease-in 0.1s;
    transform-origin: top;
}

nav>.menu-item {
    float: left;
    width: 50%;
    text-decoration: none;
    color: black;
    padding: 5%;
    text-align: center;
    border: white solid;
    border-radius: 10px;
}

nav a:nth-child(5) {
    color: rgb(221, 218, 218)
}

input {
    display: none;
}

label {
    width: 100%;
    text-align: center;
    padding: 10px;
    float: right;
    border: pink;
}

label img {
    width: 30px;
}

label:hover {
    border: solid rgb(243, 212, 217);
    transition: 200ms;
}

nav a:not(:nth-child(5)):hover {
    background-color: #ffebeb;
    border: white solid;
}

input:checked~nav {
    transform: scaleY(1);
    transition: transform 0.1s ease-out;
}

input:checked~nav a {
    opacity: 1;
    transition: opacity 0.1s ease-out 0.1s;
}

/*STYLY K FOOTER */

footer {
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-top: solid rgb(253, 207, 215);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 15px;
}

/*STYLY K MAIN - ASIDE*/

.wrapper-mid {
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: white;
}

main {
    float: left;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

aside {
    float: right;
    width: 100%;
    background-color: white;
    border-left: rgb(255, 234, 238) solid;
    border-radius: 20px;
}

/*styly k main*/

.title {
    font-size: 28px;
}

.autors {
    display: flex;
    flex-direction: column;
}

.autor:not(:first-child) {
    margin-top: 20px;
}

.autor h3 {
    float: left;
    width: 30%;
    font-size: 18px;
}

.works {
    float: right;
    width: 70%;
}

.works ul {
    list-style-type: none;
}

.works li {
    padding: 10px;
}

/* styly k aside*/

.picture {
    border: white solid;
    border-radius: 20px;
}

.picture img, a {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.picture img:hover {
    border: solid white;
}

.next-symbol {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    filter: invert(50%);
}

.next-symbol-img {
    height: 50px;
    transform: rotateZ(90deg);
}

.next-symbol:hover {
    filter: invert(0%);
    transition: linear;
}

/*RESPONZIVNÃ DESIGN*/

@media screen and (min-width: 720px) {
    .box {
        width: 25%
    }
    header {
        margin: 0 25px 0 25px;
    }
    h1, .menu {
        width: 50%;
    }
    h1 {
        text-align: justify;
    }
    .menu {
        margin-top: 25px;
    }
    nav {
        float: left;
        width: 90%;
    }
    label {
        float: right;
        width: 10%;
        padding: 0;
        height: 130px;
        padding-top: 52px;
    }
    .gallery>.gallery-item {
        width: 50%;
    }
    main {
        width: 85%;
    }
    aside {
        width: 15%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .main-fill {
        text-align: justify;
    }
}

@media screen and (min-width: 1024px) {
    .box {
        width: 25%
    }
    header {
        margin: 0 25px 0 25px;
    }
    h1 {
        width: 30%;
        font-size: 80px;
    }
    .menu {
        width: 70%;
    }
    nav {
        float: left;
        width: 90%;
        transform: scaleY(1);
    }
    label {
        /*
        float: right;
        width: 10%;
        padding: 0;
        height: 130px;
        line-height: 130px;
        margin-top: 20px;
        white-space: nowrap;
        font-size: 30px;*/
        visibility: hidden;
    }
    nav>.menu-item {
        float: left;
        width: 33.33%;
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 20px;
    }
    .gallery>.gallery-item {
        width: 25%;
    }
    main {
        width: 85%;
        padding-left: 50px;
        padding-right: 60px;
        font-size: 20px;
    }
    h2 {
        font-size: 25px;
    }
    aside {
        width: 15%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .main-fill {
        text-align: justify;
    }
}

@media print {
    body {
        background-color: white;
        box-shadow: none;
        font-size: 18px;
    }
    header {
        margin: 0 25px 0 25px;
    }
    h1 {
        width: 30%;
        font-size: 50px;
    }
    .menu {
        width: 70%;
    }
    nav {
        float: left;
        width: 90%;
        transform: scaleY(1);
    }
    label {
        visibility: hidden;
    }
    nav>.menu-item {
        float: left;
        width: 33.33%;
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 15px;
    }
    /*styly k main*/
    main {
        width: 100%;
    }
    aside {
        visibility: hidden;
        width: 0%;
    }
    footer {
        border: none;
    }
}