* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    max-width: 1281px;
    font-family: 'Raleway', monospace;
    margin: 0 auto;
    background-color: rgba(160, 30, 69, 0.322);
    box-shadow: 10px 10px 5px rgba(192, 122, 157, 0.37);
    border-radius: 20px;
}

.wrapper {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 20px;
}

header {
    margin: 0 auto;
    max-width: 1281px;
    font-family: 'Raleway', monospace;
    text-align: center;
    background-color: white;
}

h1 {
    float: left;
    font-size: 70px;
    width: 100%;
}

.menu {
    float: right;
    font-size: 15px;
    width: 100%;
    font-size: 18px;
    margin: 0 auto;
}

nav {
    float: left;
    width: 100%;
    overflow: hidden;
    transform: scaleY(0);
    transition: transform 0.1s ease-in 0.1s;
    transform-origin: top;
}

nav>.menu-item {
    float: left;
    width: 50%;
    text-decoration: none;
    color: black;
    padding: 5%;
    text-align: center;
    border: white solid;
    border-radius: 10px;
}

nav a:nth-child(4) {
    color: rgb(221, 218, 218)
}

input {
    display: none;
}

label {
    width: 100%;
    text-align: center;
    padding: 10px;
    float: right;
    border: pink;
}

label img {
    width: 30px;
}

label:hover {
    border: solid rgb(243, 212, 217);
    transition: 200ms;
}

nav a:not(:nth-child(4)):hover {
    background-color: #ffebeb;
    border: white solid;
}

input:checked~nav {
    transform: scaleY(1);
    transition: transform 0.1s ease-out;
}

input:checked~nav a {
    opacity: 1;
    transition: opacity 0.1s ease-out 0.1s;
}

/*STYLY K FOOTER*/

footer {
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 15px;
}

/* STYLY K MAIN */

main {
    background-color: white;
    margin-bottom: 3px;
}

main h2 {
    margin-top: 2px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 28px;
}

.main-layout {
    margin: 0 auto;
    background-color: white;
}

.main-item {
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.partner {
    background-image: linear-gradient(white, rgb(238, 238, 238), rgba(235, 180, 198, 0.486));
    border: 10px solid white;
    border-radius: 15px;
}

.partner a {
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.partner-name {
    width: 100%;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.partner img {
    padding-top: 20px;
    margin: 0 auto;
    flex-grow: 1;
}

.main-item:nth-child(1) .partner:nth-child(2) img {
    height: 170px;
    width: auto;
}

.main-item:nth-child(1) .partner:nth-child(3) img {
    height: 160px;
    width: auto;
}

.main-item:nth-child(3) .partner:nth-child(1) img {
    height: 130px;
    width: auto;
}

.main-item:nth-child(3) .partner:nth-child(2) img {
    height: 200px;
    width: auto;
}

.partners {
    height: 480px;
    font-size: 35px;
    background-color: rgb(255, 255, 255);
    color: black;
}

/*RESPONZIVNÃ DESIGN*/

@media screen and (min-width: 720px) {
    .box {
        width: 25%
    }
    header {
        margin: 0 25px 0 25px;
    }
    h1, .menu {
        width: 50%;
    }
    h1 {
        text-align: justify;
    }
    .menu {
        margin-top: 25px;
    }
    nav {
        float: left;
        width: 90%;
    }
    label {
        float: right;
        width: 10%;
        padding: 0;
        height: 130px;
        padding-top: 52px;
    }
    .gallery>.gallery-item {
        width: 50%;
    }
    /*STYLY k MAIN*/
    .main-item {
        width: 33.33%;
    }
}

@media screen and (min-width: 1024px) {
    .box {
        width: 25%
    }
    header {
        margin: 0 25px 0 25px;
    }
    h1 {
        width: 30%;
        font-size: 80px;
    }
    .menu {
        width: 70%;
    }
    nav {
        float: left;
        width: 90%;
        transform: scaleY(1);
    }
    label {
        /* float: right;
        width: 10%;
        padding: 0;
        height: 130px;
        line-height: 130px;
        margin-top: 20px;
        white-space: nowrap;
        font-size: 30px;*/
        visibility: hidden;
    }
    nav>.menu-item {
        float: left;
        width: 33.33%;
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 20px;
    }
    .gallery>.gallery-item {
        width: 25%;
    }
    /*STYLY k MAIN*/
    .main-item {
        width: 33.33%;
    }
}

@media print {
    body {
        background-color: white;
        box-shadow: none;
        font-size: 15px;
    }
    header {
        margin: 0 25px 0 25px;
    }
    h1 {
        width: 30%;
        font-size: 50px;
    }
    .menu {
        width: 70%;
    }
    nav {
        float: left;
        width: 90%;
        transform: scaleY(1);
    }
    label {
        visibility: hidden;
    }
    nav>.menu-item {
        float: left;
        width: 33.33%;
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 15px;
    }
    /*styly k main*/
    main h2 {
        font-size: 20px;
    }
    .main-item {
        width: 33.33%;
    }
    .main-item:nth-child(n) .partner:nth-child(n) img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        width: 50%;
        height: 50%;
    }
    .partner {
        background-color: white;
    }
}