* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.card {
    background-image: url("../images/lacasa.jpg");
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: transparent;
    border: 6px solid white;
    border-radius: 20px;
    width: 20%;
    height: 155px;
    align-items: center;
    justify-content: center;
}

.card.revealed {
    background-color: rgb(150, 16, 16);
    color: white;
    background-image: none;
}

.card:hover {
    background-color: rgb(199, 53, 53);
    transition: 0.2s ease-in;
}

.game {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}