* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#game-field {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1280px;
}

.card {
    background-color: rgb(63, 197, 179);
    border-radius: 10%;
    width: 18%;
    height: 140px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
}

.card:hover {
    background-color: rgb(32, 156, 140);
    cursor: pointer;
}

.card.flipped {
    background-color: rgb(203, 218, 3);
    color: white;
}