* {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
}


.clear {
    clear: both;
}


h1 {
    text-align: center;
    padding: 50px 10px;
    color: white;
    background-color: rgb(78, 146, 179);
}


.colors>input {
    padding: 20px;
    border: none;
    font-size: 18px;
    margin: 0;
    float: left;
    width: 25%;
    color: white;
}


.instructions {
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}


.wrapper {
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
    
    
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    margin-bottom: 50px;
}

.float-box {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 110px
}

.container-01 .float-box {
    width:100%;
    
}

.container-02 .float-box {
    width: 50%;
}

.container-03 .float-box {
    width: 33.3333333%;
}

.container-04 .float-box {
    width: 25%;
}

.container .float-box:nth-child(1) {
    background-color: rgb(255,125,78);
}

.container .float-box:nth-child(2) {
    background-color: rgb(168,89,60);
}

.container .float-box:nth-child(3) {
    background-color: rgb(33,165,121);
}

.container .float-box:nth-child(4) {
    background-color: rgb(47,83,160);
}

.container .float-box:nth-child(5) {
    background-color: rgb(197,56,56);
}
 
.container .float-box:nth-child(6) {
    background-color: rgb(112,158,94);
}

.container .float-box:nth-child(7) {
    background-color: rgb(182,109,197);
}

.container .float-box:nth-child(8) {
    background-color: rgb(167,35,79);
}
