* {
    box-sizing: border-box;
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

}

header {
    text-align: center;
    padding: 100px;
    background-image: url(../img/image-4.jpg);
    background-position: center;
    background-size: 1000px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    background-color: rgba(255, 255, 255, 0.637);
    padding: 60px;
    border-radius: 10px;
    font-size: 40px;
}

footer {
    text-align: center;
    background: rgb(92, 41, 0);
    border-radius: 10px;
    padding: 20px;
    position: absolute bottom;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.menu {
    display: flex;

}

.menuButton {
    padding: 30px 60px 30px 60px;
    background-color: rgb(131, 90, 2);
    outline: none;
    font-size: large;
    border-radius: 20px;
    border: none;
    font-size: 20px;


}

#menu-item {
    margin: 5px;

}

#input_name {
    height: 50px;
    width: 470px;
    font-size: large;

}

#menu button,
.breeds-information button:hover {
    cursor: pointer;

}

#menu button:active,
.breeds-information button:active {
    background-color: rgba(158, 75, 8, 0.801);
}

.breed-information {
    list-style-type: none;
    border: solid 5px rgb(92, 41, 0);
    width: 500px;
    text-align: center;
    border-radius: 20px;

}

.breed-information img {
    width: 480px;
    border-radius: 20px;
    padding-top: 2px;

}

.breed-information h4 {
    font-size: 40px;
}

.breed-information button {
    background-color: rgb(131, 90, 2);
    outline: none;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    margin: 5px;
}

#search {
    display: flex;
}

.favourite {
    text-align: center;
    border: solid 5px rgb(92, 41, 0);
    border-radius: 20px;
    margin: 5px;
    padding: 2px;
    display: flex;
    flex-direction: column;


}

.favourite button {
    background-color: rgb(131, 90, 2);
    outline: none;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    margin: 5px;
}

.favourite img {
    width: 250px;
    border-radius: 20px;
}

h2 {
    font-size: 35px;
}