* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

h1 {
    text-align: center;
    padding: 50px 10px;
    color: white;
    background-color: rgb(78, 146, 179);
}

.colors>input {
    padding: 20px;
    border: none;
    font-size: 18px;
    margin: 0;
    float: left;
    width: 25%;
    color: white;
}

.instructions {
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    background-color: grey;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.float-box {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.float-box:nth-child(1) {
    background-color: rgb(255, 125, 78);
}

.float-box:nth-child(2) {
    background-color: rgb(168, 89, 60);
}

.float-box:nth-child(3) {
    background-color: rgb( 33, 165, 121);
}

.float-box:nth-child(4) {
    background-color: rgb( 47, 83, 160);
}

.float-box:nth-child(5) {
    background-color: rgb(197, 56, 56);
}

.float-box:nth-child(6) {
    background-color: rgb(112, 158, 94);
}

.float-box:nth-child(7) {
    background-color: rgb(182, 109, 197);
}

.float-box:nth-child(8) {
    background-color: rgb(167, 35, 79);
}

.container-01 .float-box {
    padding: 80px;
    flex: 0 100%;
}

.container-02 .float-box {
    padding: 65px;
    flex: 0 50%;
}

.container-03 .float-box {
    padding: 50px;
    flex: 0 33.3%;
}

.container-04 .float-box {
    padding: 35px;
    flex: 0 25%;
}