* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

h1 {
    text-align: center;
    padding: 50px 10px;
    color: white;
    background-color: rgb(78, 146, 179);
}

.colors>input {
    padding: 20px;
    border: none;
    font-size: 18px;
    margin: 0;
    float: left;
    width: 25%;
    color: white;
}

.instructions {
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.wrapper{
    max-width: 1280px;
    margin: auto;
    padding: 20px;
}
.container{
    display: grid;
    font-size: 58px;
    font-weight: bold;
}
.float-box{
    text-align: center;   
    color: white;
    padding: 90px;
}

.container>div:nth-child(1){
    background-color: rgb(255, 125, 78) ;
}

.container>div:nth-child(2){
    background-color: rgb(168,  89,  60) ;
}

.container>div:nth-child(3){
    background-color: rgb(33, 165, 121) ;
}

.container>div:nth-child(4){
    background-color: rgb(47,  83, 160) ;
}

.container>div:nth-child(5){
    background-color: rgb(197,  56,  56) ;
}

.container>div:nth-child(6){
    background-color: rgb(112, 158,  94) ;
}

.container>div:nth-child(7){
    background-color: rgb(182, 109, 197) ;
}

.container>div:nth-child(8){
    background-color: rgb(167,  35,  79) ;
}

.container>div:nth-child(9){
    background-color: rgb(38, 189, 189) ;
}

.container-01{
    grid-template-columns: auto;
}
.container-02{
    grid-template-columns: auto auto;
}
.container-03{
    grid-template-columns: auto auto auto;
}
.container-04{
    grid-template-columns: auto auto auto auto;
}

