div
{
    font-family: arial;
}
p
{
    font-family: arial;
}
#div2
{
    color: red;
}
#div3
{
   color: rgb(57, 247, 57); 
   }
#div4
{
    color: #295FE8;
    font-weight: bold;
}
#div5
{
    font-size: 18px;
}
#div6
{
    font-size: 24px;
    font-style: italic;
}
#div7
{
    color: white;
    background-color: brown;
}
#p1
{
    text-align: center;
    line-height: 32px;
}
#p2
{
    text-transform: uppercase;
}
#div8
{  
    width: 400px;
    height: 300px;
    border: 1px solid purple;
    padding: 30px;
    
}
#div9
{
    width: 500px;
    height: 200px;
    background: rgb(177, 16, 16);
    margin: 100px;
}
#div10
{
    visibility: hidden;
}
#div11
{
    width: auto;
    background: rgb(58, 75, 151);
    padding: 50px;
    border: solid yellow 10px;
}
#div12
{
    color: transparent;
}
#div13
{
   width: 500px;
   height: 200px;
   background-color: rgb(67, 88, 67); 
   opacity: 0.5;
   color: white;
}
#div14
{
    width: 400px;
    height: 300px;
    position: relative;
    background-color:rgb(137, 255, 255) ;
}
#div15
{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: pink;
    font-size: 10px;
    top: 50px;
    right: 10px;
}
#div16
{
    width: 200px;
    height: 400px;
    border: solid brown 20px;
    border-radius: 10px;
}
#button
{
    width: 300px;
    height: 100px;
}
#button:active
{
    color: blue;
}
#button2
{
    width: 200px;
    height: 50px;
}
#button2:hover
{
    background-color: brown;
}
#div17
{
    width: 200px;
    height: 500px;
    background-color: rgb(0, 118, 139);
    margin-top: 200px;
}
#div17:hover
{
    cursor: pointer;
}