* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
}

.center-align {
    display: flex;
    align-content: center;
    justify-content: center;
}

.container-main {
    width: 1000px;
    height: 600px;
    background-color: rgba(224, 242, 253, 0.329);
}

.container-main:hover {
    background-color: rgba(224, 242, 253, 0.795);
}

.container-form-heading {
    height: 50px;
    width: 100%;
}

.container-form-heading-text {
    font-size: 30px;
    margin: auto;
    margin-top: 10px;
}

.container-form-content {
    width: 100%;
    height: 100%;
}

.container-form-content-column {
    margin: 20px;
    width: 100%;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

.max-width {
    width: 50%;
}

.inline {
    flex-direction: row;
}

.label-text {
    margin: 5px;
    font-size: 20px;
}

textarea {
    resize: none;
    font-size: 17px;
}

.form-input {
    height: 30px;
}

.single-line {
    height: 30px;
}

.multi-line {
    height: 120px;
}

.multi-line-long {
    max-height: 393px;
    min-height: 120px;
}

.checkbox-align {
    margin: auto 10px;
}

.send-button {
    width: 100px;
    height: 40px;
}

.send-button-container {
    margin-top: 30px;
}

.dny-v-tydnu {
    margin: 0px;
}

.dny-v-tydnu-container {
    margin: 20px;
    background-color: rgba(202, 231, 248, 0.336);
}

.dny-v-tydnu-container:hover {
    background-color: rgba(170, 221, 250, 0.336);
}

.choose-daytime {
    margin: auto;
    margin-left: 0px;
    flex-direction: column;
}

.hidden {
    display: none;
}