body{
    text-align:center;
    margin-top: 100px;
    font-family: 'Quicksand', sans-serif;
    line-height: 2;
    font-size: 2em;
    width: 800px;
    margin: 50px auto;
}

button{
    font-size: .8em;
    border-radius: 5px;
    background-color: lightblue;
    padding: 5px;
    cursor:pointer;
}