* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  background-color: #010101;
}

.app-container {
  display: grid;
}

header div {
  display: flex;
  width: 444px;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

header img {
  width: 300px;
}

header h1 {
  margin-top: 8px;
  margin-left: 20px;
  margin-bottom: 0px;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 34px;
}

.text-center {
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #1e1f23;
  color: white;
  padding-top: 25px
}

.search-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #a43a27;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.search-button:hover {
  background-color: #9c4b3d
}

.search-button:active {
  background-color: #9c4b3d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.search-button:focus {
  outline: none;
  box-shadow: 0 9px white;
}

.search-button-player {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1880a7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.search-button-player:hover {
  background-color: #4789a1
}

.search-button-player:active {
  background-color: #1880a7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.search-button-player:focus {
  outline: none;
  box-shadow: 0 9px white;
}

.search-input {
  margin-bottom: 20px;
  padding: 8px;
}

.display-none {
  display: none;
}

.intro {
  grid-column: 1 / span 2;
  padding: 30px;
  text-align: center;
  font-size: 20px;
}

.clear-button {
  display: block;
  margin-left: 20px;
  background-color: white;
  color: black;
  border: 2px solid #a43a27;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;
}

.clear-button:hover {
  background-color: #a43a27;
  color: white;
}

.clear-button:disabled {
  background-color: rgb(197, 191, 191);
}

.clear-button:disabled:hover {
  color: black;
}

.clear-button:focus {
  outline: none;
  box-shadow: 0 0 10px #aeb6be;
}

.clear-button-player {
  display: block;
  margin-left: 20px;
  background-color: white;
  color: black;
  border: 2px solid #1880a7;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;
}

.clear-button-player:hover {
  background-color: #1880a7;
  color: white;
}

.clear-button-player:disabled {
  background-color: rgb(197, 191, 191);
}

.clear-button-player:disabled:hover {
  color: black;
}

.clear-button-player:focus {
  outline: none;
  box-shadow: 0 0 10px #aeb6be;
}

.match-statistics {
  height: 400px;
  font-size: 18px;
}

.match-statistics p:nth-child(1) {
  color: #e43011;
}

.match-statistics p:nth-child(2) {
  color: green;
}

footer {
  text-align: center;
  color: white;
}

footer p a {
  text-decoration: none;
  color: #a43a27;
}

.search-match {
  border-right: 2px solid black;
  border-top: 1px solid #a43a27;
}

.search-match h2 {
  color: #d04c35;
}

.player-image {
  width: 100px;
}

.search-player {
  border-top: 1px solid #1880a7;
  /*height: 900px*/
}

.search-player h2 {
  color: #23a5d6;
}

.player-information {
  font-size: 18px;
}

.player-information p:nth-child(2) {
  color: #23a5d6;
}

.player-information a {
  color: #23a5d6;
}

.player-statistics {
  font-size: 18px;
}

.player-statistics p:nth-child(2) {
  color: green;
}

.player-statistics p:nth-child(3) {
  color: #e43011;
}

.favorites-button {
  margin-top: 25px;
}

.help-dialog {
  border-radius: 30px;
  background-color: #fff;
  border: solid 1px #fff;
  margin-left: 5px;
}

.help-dialog:focus {
  outline: none;
  box-shadow: 0 0 10px #aeb6be;
}

.search-input {
  border-radius: 20px;
  color: white;
  border: none;
}

::placeholder {
  color: white;
  opacity: 0.6;
}

.red-input {
  background-color: #a43a27;
}

.blue-input {
  background-color: #1880a7;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 10px #aeb6be;
}

.favorites-button {
  border-radius: 10px;
  border: none;
  padding: 4px;
  padding: 5px 6px 5px 6px;
  background-color: yellow;
  margin-right: 20px;
  margin-bottom: 25px;
  margin-top: 35px;
}

.favorites-button:focus {
  outline: none;
  box-shadow: 0 0 10px #aeb6be;
}

.favorites-button:disabled {
  opacity: 0.7;
}

select {
  background-color: yellow;
  padding: 2px;
}

select:focus {
  outline: none;
  box-shadow: 0 0 10px #aeb6be;
}

footer a:focus {
  outline: none;
  box-shadow: 0 0 10px #aeb6be;
}

/* Loader*/

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

@media screen and (max-width: 724px) {
  .content {
    grid-template-columns: auto;
  }
  .intro {
    grid-column: auto;
  }
  .clear-button-player {
    margin-bottom: 10px;
  }
  .clear-button {
    margin-bottom: 10px;
  }
  .match-statistics {
    height: auto;
  }
  .search-match {
    border-right: none;
  }
  footer p {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 542px) {
  header div {
    display: block;
    width: auto;
    text-align: center;
  }
}