* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-size: 50px;
  padding: 20px;
}

#menu {
  padding: 20px;
  padding-left: 0 !important;
}

#menu a {
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

#menu a:hover {
  background-color: rgb(245, 235, 235);
}

#menu a.active {
  background-color: #aa928f;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

main>div {
  margin: auto;
  max-width: 1280px;
}

.leftside {
  float: left;
  width: 40%;
  padding-right: 30px;
}

.rightside {
  float: right;
  width: 60%;
}

.info {
  margin-top: 30px;
  text-align: justify;
}

.img_me {
  width: 100%;
  padding: 20px;
  padding-left: 0 !important;
  height: 100%;
  opacity: 0.8;
}

.img_me:hover {
  opacity: 1;
}

.card {
  padding: 20px;
}

.parallax {
  background-image: url(../img/nejhezcilisticka.jpg);
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

#footer {
  text-align: center;
  background: rgb(184, 134, 125);
  margin-top: 100px;
}

.favicons {
  padding: 20px;
  font-size: 30px;
}

.fa:hover {
  opacity: 0.6;
}

a:visited, a:active, a:hover, a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .lefside, .rightside {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .lefside, .rightside {
    width: 100%;
  }
  h1 {
    font-size: 25px;
  }
  .info {
    font-size: 20px;
  }
}

@media print {
  body {
    background: initial;
  }
  #menu {
    display: none;
  }
  .parallax {
    display: none;
  }
  h1 {
    font-size: 20px;
  }
  .img_me {
    display: none;
  }
  .lefside, .rightside {
    width: 100%;
  }
  footer {
    display: none;
  }
}