* { 
    box-sizing: border-box; 
}
body { 
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  color: whitesmoke;
}
.layout
{
    display: flex;
    max-width: 1280px;
    margin: auto;
    padding:10px;
}
.menu
{
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 239, 241);
    min-width: 250px;
    border-radius: 20px;

}
.main
{
    flex: 1;
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
}
.menu-item
{
    background-color: rgb(15, 104, 70);
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
}
.menu-item:not(:last-child):hover {
    transition: 700ms;
    background-color:  rgb(92, 199, 158);
  }
.menu-welcome
{
    background-color: rgb(12, 68, 47) ;
    padding: 25px;
}
.menu-item i 
{
    text-align: center;
    padding: 0px 10px;
}
.menu-profile 
{
padding: 45px 20px;
background-color: rgb(35, 158, 113) ;
}
.menu-footer
{
    margin-top: auto;
    display: flex;
    background-color: transparent;
    padding: 0;
}
.mf-item
{
    background-color: rgb(15, 104, 70);
    width: 33.33%;
    text-align: center;
    padding: 10px 0;
    border-radius: 15px;
    margin-right: 4px;
}

.mf-item:nth-child(even) 
{
    background-color: rgb(35, 158, 113) ;
}

.main-header
{
    width: 100%;
    text-align: center;
    background-color: rgb(35, 158, 113);
    padding: 50px 10px;
    border-radius: 20px;
    font-size: larger;
    margin-bottom: 2px;
    
}
.kpis
{
    display: flex;
}
.kpi-item
{
    width: 25%;
    border-radius: 20px;
    background-color: rgb(15, 104, 70);
    text-align: center;
    padding: 20px;
    margin: 2px 3px;
}
.kpi-item:nth-child(even)
{
    background-color: rgb(23, 104, 100);
}
.cards
{
    display: flex;
    flex-wrap: wrap;
}

.card-video
{
    width: 70%;
}
.card-performance
{
    width: 30%;
}
.card
{
    text-align: center;
    padding: 170px 0;
    border-radius: 20px;
    background-color: rgb(49, 192, 49);
    border: solid white;
}
.card:nth-child(even)
{
   background-color: rgb(23, 104, 100);
}
.card-app
{
    width: 33.33%;
}
.card-usage
{
    width: 33.33%;
}
.card-settings
{
    width: 33.33%;
}
.card-recent
{
    width: 33.33%;
}
.card-image
{
    
    width: 66.66%;
}
.card-footer    
{
    width: 100%;
    padding: 40px;
}  
.spinner 
{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 30px solid transparent;
    border-top-color: rgb(221, 160, 160);
    border-bottom-color: rgb(160, 221, 218);
    animation: spinning 5s linear infinite;
    transition: border-color 1.5s ease;
}
@keyframes spinning {
    from { 
        transform: rotate(0deg); 
    }
        to { 
        transform: rotate(360deg); 
       }
}