* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: black;
}

.loadData {
    text-align: center;
    margin-top: 150px;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

h1 {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.form {
    text-align: center;
}


header h1 {
        float: right;
        height: 80px;
        color:white;
        padding: 25px;
}

button{
    padding:0.3em 1.2em;
    margin-top: 5px;
    border: white;
    border-radius:2em;
    color:#FFFFFF;
    background-color: #f14ebd;
    outline:none;
}
button:hover{
    opacity: 70%;
    cursor: pointer;
}

button:disabled{
  background-color: grey;
  cursor: auto;
  opacity: 100%;
}

.covid {
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
}

.row {
    max-width: 900px;
    margin: 0 auto;
    background-color: black;
    color: white;
 }

.row p {
    text-align: center;
}

footer {
    bottom: 0;
    border-top: black solid 1px;
    position: fixed;
    text-align: center;
}

input {
    margin-right: 10px;
}

.countryWrapper {
  position: relative;
}

.countryWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events:none;
  text-align: center;
}

.oneCountry {
  width: 1280px;
}

.allCountries {
  width: 1280px;
}


/*LOADER*/

.hidden{
    display:none;
}

.ajax_loader{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}

.ajax_loader i{
    position:absolute;    
    left:50%;
    top:50%;
}

.loader,
.loader:before,
.loader:after {
  background: #060a0f;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #060a0f;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/*datepicker*/
.ui-widget-content {
  border:  none !important;
}

/*scrollbar*/
div::-webkit-scrollbar {
  width: 1em;
}

div::-webkit-scrollbar-track {
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f14ebd;
}

div::-webkit-scrollbar:vertical {
  display: none;
}

div::-webkit-scrollbar-track {
  background: #c1c1c1; 
}

select{ 
  height:22px;
}

.favouriteSection{
  margin-bottom: 20px;
  padding-left: 20px;
}

.favouriteButton{
  margin-left: 20px;
  background-color: black;
}



