* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

h1 {
    text-align: center;
    padding: 50px 10px;
    color: white;
    background-color: rgb(192, 50, 50);
}

.instructions {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
}

.colors>input {
    width: 50%;
    padding: 5px;
    border: none;
    font-size: 18px;
    margin: 0;
    float: left;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
    color: white;
    font-size: 24px;
}

.wrapper * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper header {
    background-color: rgb(223, 114,  75);
    height: 200px;
}

.wrapper nav {
    background-color: rgb( 47, 108, 136);
    height: 50px;
}

.wrapper main {
    background-color: rgb(192,  70,  94);
    height: 1000px;
}

.wrapper aside {
    background-color: rgb( 53, 184, 155);
    height: 1000px;
}

.wrapper footer {
    background-color: rgb( 39,  39,  39);
    height: 100px;
}

@media screen and (min-width: 720px) {
    .colors>input {
        padding: 20px;
        width: calc(100% / 3);
    }

    .wrapper div {
        display: flex;
        flex-direction: column;
    }

    .wrapper main {
        width: 100%;
    }

    .wrapper aside {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .colors>input {
        width: 20%;
    }

    .wrapper div {
        display: flex;
        flex-direction: row;
    }

    .wrapper main {
        width: 75%;
    }

    .wrapper aside {
        width: 25%;
    }
}

@media screen and (max-width: 720px) {
    .colors>input {
        width: 50%;
        padding: 20px;
    }
    
    .wrapper div {
        display: flex;
        flex-direction: column;
    }

    .wrapper main {
        width: 100%;
    }

    .wrapper aside {
        width: 100%;
    }
}